In [1]:
import pandas as pd
import numpy as np
train_merge = pd.read_csv('/Users/hazel/Documents/credit_project_data/application_test_train.csv',index_col=0)
train_merge

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,bureau_CREDIT_TYPE_Mortgage,bureau_CREDIT_TYPE_Real estate loan,bureau_CREDIT_TYPE_Unknown type of loan,bureau_DAYS_CREDIT_UPDATE,bureau_AMT_ANNUITY,bureau_MONTHS_BALANCE_x,bureau_Start_to_End,bureau_CLOSE,bureau_SK_ID_BUREAU_counts,FLAG_DOCUMENT_RATIO
0,100002,1.0,0,202500.0,1,0.018801,-9461,-637,-3648.0,-2120,...,0.0,0.0,0.0,-499.875000,0.000,-28.250000,-13.166667,6.0,8.0,0.05
1,100003,0.0,0,270000.0,3,0.003541,-16765,-1188,-1186.0,-291,...,0.0,0.0,0.0,-816.000000,NaN,NaN,NaN,0.0,4.0,0.05
2,100004,0.0,0,67500.0,1,0.010032,-19046,-225,-4260.0,-2531,...,0.0,0.0,0.0,-532.000000,NaN,NaN,NaN,0.0,2.0,0.00
3,100006,0.0,0,135000.0,1,0.008019,-19005,-3039,-9833.0,-2437,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05
4,100007,0.0,0,121500.0,1,0.028663,-19932,-3038,-4311.0,-3458,...,0.0,0.0,0.0,-783.000000,NaN,NaN,NaN,0.0,1.0,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,456221,NaN,0,121500.0,1,0.002042,-19970,-5169,-9094.0,-3399,...,0.0,0.0,0.0,-282.200000,5960.700,-23.200000,-15.000000,3.0,5.0,0.05
356251,456222,NaN,2,157500.0,1,0.035792,-11186,-1149,-3015.0,-3003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05
356252,456223,NaN,1,202500.0,1,0.026392,-15922,-3037,-2681.0,-1504,...,1.0,0.0,0.0,-308.400000,1263.375,-17.400000,-6.750000,4.0,5.0,0.05
356253,456224,NaN,0,225000.0,3,0.018850,-13968,-2731,-1461.0,-1364,...,0.0,0.0,0.0,-907.823529,4608.450,-57.176471,-20.300000,10.0,17.0,0.05
356254,456250,NaN,0,135000.0,1,0.006629,-13962,-633,-1072.0,-4220,...,0.0,0.0,0.0,-60.333333,154567.965,-28.000000,-8.000000,1.0,3.0,0.05

In [2]:
# 計算空值站欄位的百分比
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [3]:
missing_valuestable = missing_values_table(train_merge)
missing_valuestable

Your selected dataframe has 282 columns.
There are 109 columns that have missing values.

                               Missing Values  % of Total Values
DRAWINGS_ATM_average                   252697               70.9
AMT_CREDIT_LIMIT_ACTUAL_max            252697               70.9
SK_ID_PREV_x                           252697               70.9
CNT_INSTALMENT_MATURE_CUM_max          252697               70.9
SK_DPD_max                             252697               70.9
...                                       ...                ...
NAN                                     16668                4.7
DAYS_LATE_PAYMENT                       16668                4.7
NUM_INSTALMENT_VERSION                  16668                4.7
SK_NUM_PREV                             16668                4.7
EXT_SOURCE_2                              668                0.2

[109 rows x 2 columns]

In [4]:
drop_miss = missing_valuestable[missing_valuestable['% of Total Values'] > 40]
drop_col = list(drop_miss.index)

In [5]:
train_merge = train_merge.drop(columns = drop_col)
train_merge

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,bureau_CREDIT_TYPE_Loan for working capital replenishment,bureau_CREDIT_TYPE_Microloan,bureau_CREDIT_TYPE_Mobile operator loan,bureau_CREDIT_TYPE_Mortgage,bureau_CREDIT_TYPE_Real estate loan,bureau_CREDIT_TYPE_Unknown type of loan,bureau_DAYS_CREDIT_UPDATE,bureau_CLOSE,bureau_SK_ID_BUREAU_counts,FLAG_DOCUMENT_RATIO
0,100002,1.0,0,202500.0,1,0.018801,-9461,-637,-3648.0,-2120,...,0.0,0.0,0.0,0.0,0.0,0.0,-499.875000,6.0,8.0,0.05
1,100003,0.0,0,270000.0,3,0.003541,-16765,-1188,-1186.0,-291,...,0.0,0.0,0.0,0.0,0.0,0.0,-816.000000,0.0,4.0,0.05
2,100004,0.0,0,67500.0,1,0.010032,-19046,-225,-4260.0,-2531,...,0.0,0.0,0.0,0.0,0.0,0.0,-532.000000,0.0,2.0,0.00
3,100006,0.0,0,135000.0,1,0.008019,-19005,-3039,-9833.0,-2437,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05
4,100007,0.0,0,121500.0,1,0.028663,-19932,-3038,-4311.0,-3458,...,0.0,0.0,0.0,0.0,0.0,0.0,-783.000000,0.0,1.0,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,456221,NaN,0,121500.0,1,0.002042,-19970,-5169,-9094.0,-3399,...,0.0,1.0,0.0,0.0,0.0,0.0,-282.200000,3.0,5.0,0.05
356251,456222,NaN,2,157500.0,1,0.035792,-11186,-1149,-3015.0,-3003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05
356252,456223,NaN,1,202500.0,1,0.026392,-15922,-3037,-2681.0,-1504,...,0.0,0.0,0.0,1.0,0.0,0.0,-308.400000,4.0,5.0,0.05
356253,456224,NaN,0,225000.0,3,0.018850,-13968,-2731,-1461.0,-1364,...,0.0,0.0,0.0,0.0,0.0,0.0,-907.823529,10.0,17.0,0.05
356254,456250,NaN,0,135000.0,1,0.006629,-13962,-633,-1072.0,-4220,...,0.0,0.0,0.0,0.0,0.0,0.0,-60.333333,1.0,3.0,0.05

In [6]:
train_merge = train_merge.drop(columns = ['EXT_SOURCE_3','EXT_SOURCE_2','bureau_CREDIT_CURRENCY3','bureau_CREDIT_CURRENCY2','bureau_CREDIT_CURRENCY1','bureau_CREDIT_CURRENCY4'])

In [7]:
missing = missing_values_table(train_merge)

Your selected dataframe has 248 columns.
There are 75 columns that have missing values.

In [8]:
drop_miss = missing[missing['% of Total Values'] > 0]
fill_median_col = list(drop_miss.index)
fill_median_col

['bureau_DAYS_ENDDATE_FACT',
 'bureau_AMT_CREDIT_SUM_LIMIT',
 'bureau_AMT_CREDIT_SUM_DEBT',
 'bureau_DAYS_CREDIT_ENDDATE',
 'bureau_AMT_CREDIT_SUM',
 'bureau_DAYS_CREDIT_UPDATE',
 'bureau_SK_ID_BUREAU_counts',
 'bureau_CREDIT_TYPE_Car loan',
 'bureau_CREDIT_Bad debt',
 'bureau_CREDIT_Closed',
 'bureau_CREDIT_Sold',
 'bureau_DAYS_CREDIT',
 'bureau_CREDIT_DAY_OVERDUE',
 'bureau_CNT_CREDIT_PROLONG',
 'bureau_AMT_CREDIT_SUM_OVERDUE',
 'bureau_CREDIT_TYPE_Another type of loan',
 'bureau_CREDIT_TYPE_Cash loan (non-earmarked)',
 'bureau_SK_ID_CURR',
 'bureau_CREDIT_TYPE_Consumer credit',
 'bureau_CREDIT_TYPE_Credit card',
 'bureau_CREDIT_TYPE_Interbank credit',
 'bureau_CREDIT_TYPE_Loan for business development',
 'bureau_CREDIT_TYPE_Loan for purchase of shares (margin lending)',
 'bureau_CREDIT_TYPE_Loan for the purchase of equipment',
 'bureau_CREDIT_TYPE_Loan for working capital replenishment',
 'bureau_CREDIT_TYPE_Microloan',
 'bureau_CREDIT_TYPE_Mobile operator loan',
 'bureau_CREDIT_TYPE_Mortgage',
 'bureau_CREDIT_TYPE_Real estate loan',
 'bureau_CREDIT_TYPE_Unknown type of loan',
 'bureau_CLOSE',
 'bureau_CREDIT_ACTIVE',
 'TARGET',
 'PC_CNT_INSTALMENT_max',
 'PC_CNT_INSTALMENT_mean',
 'PC_SK_DPDMix_Max',
 'PC_SK_DPDMix_mean',
 'PC_Delay_total',
 'PC_Delay_mean',
 'PC_count',
 'PORTFOLIO_Cards',
 'PREV_CREDIT_sum',
 'PORTFOLIO_Cars',
 'PREV_CRE/APP_max',
 'PREV_GOODS_PRICE_max',
 'PREV_DOWN_PAYMENT_median',
 'SK_ID_PREV_y',
 'PREV_CREDIT_max',
 'PREV_APPLICATION_max',
 'PREV_ANNUITY_median',
 'RATE_INTEREST_PRIMARY_max',
 'RATE_INTEREST_PRIMARY_median',
 'RATE_DOWN_PAYMENT_median',
 'DAYS_DECISION_median',
 'NAME_TYPE_SUITE',
 'PORTFOLIO_Cash',
 'PORTFOLIO_POS',
 'YIELD_low',
 'YIELD_middle',
 'CNT_PAYMENT_median',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START_y',
 'Non-cash from your account',
 'Cashless from the account of the employer',
 'Cash through the bank',
 'CONTRACT_Revolving_loans',
 'CONTRACT_Consumer_loans',
 'CONTRACT_Cash_loans',
 'DAYS_PERIOD_median',
 'YIELD_high',
 'SK_NUM_PREV',
 'AMT_ARREARS',
 'NAN',
 'DAYS_LATE_PAYMENT',
 'NUM_INSTALMENT_VERSION']

In [9]:
# 寫一個自動填中位數的函式
def fillnan_median (column):
    median = train_merge[column].median()
    train_merge[column] = train_merge[column].fillna(train_merge[column].median())
    result = train_merge[column].isnull().sum()
    return result,median

In [10]:
fillnan_median(fill_median_col)

(bureau_DAYS_ENDDATE_FACT       0
 bureau_AMT_CREDIT_SUM_LIMIT    0
 bureau_AMT_CREDIT_SUM_DEBT     0
 bureau_DAYS_CREDIT_ENDDATE     0
 bureau_AMT_CREDIT_SUM          0
                               ..
 SK_NUM_PREV                    0
 AMT_ARREARS                    0
 NAN                            0
 DAYS_LATE_PAYMENT              0
 NUM_INSTALMENT_VERSION         0
 Length: 75, dtype: int64,
 bureau_DAYS_ENDDATE_FACT         -926.400000
 bureau_AMT_CREDIT_SUM_LIMIT         0.000000
 bureau_AMT_CREDIT_SUM_DEBT      39166.316250
 bureau_DAYS_CREDIT_ENDDATE       -255.666667
 bureau_AMT_CREDIT_SUM          190416.116250
                                    ...
 SK_NUM_PREV                         2.000000
 AMT_ARREARS                         0.000000
 NAN                                 0.000000
 DAYS_LATE_PAYMENT                  11.600000
 NUM_INSTALMENT_VERSION              1.400000
 Length: 75, dtype: float64)

In [11]:
missing_values_table(train_merge)

Your selected dataframe has 248 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [12]:
pd.set_option("display.max_rows",1000)
pd.set_option("display.max_columns",1000)
train_merge.info(1000)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356255 entries, 0 to 356254
Data columns (total 248 columns):
 #    Column                                                           Dtype
---   ------                                                           -----
 0    SK_ID_CURR                                                       int64
 1    TARGET                                                           float64
 2    CNT_CHILDREN                                                     int64
 3    AMT_INCOME_TOTAL                                                 float64
 4    NAME_EDUCATION_TYPE                                              int64
 5    REGION_POPULATION_RELATIVE                                       float64
 6    DAYS_BIRTH                                                       int64
 7    DAYS_EMPLOYED                                                    int64
 8    DAYS_REGISTRATION                                                float64
 9    DAYS_ID_PUBLISH                                                  int64
 10   FLAG_MOBIL                                                       int64
 11   FLAG_EMP_PHONE                                                   int64
 12   FLAG_WORK_PHONE                                                  int64
 13   FLAG_CONT_MOBILE                                                 int64
 14   FLAG_PHONE                                                       int64
 15   FLAG_EMAIL                                                       int64
 16   CNT_FAM_MEMBERS                                                  float64
 17   REGION_RATING_CLIENT                                             int64
 18   REGION_RATING_CLIENT_W_CITY                                      int64
 19   HOUR_APPR_PROCESS_START_x                                        int64
 20   REG_REGION_NOT_LIVE_REGION                                       int64
 21   REG_REGION_NOT_WORK_REGION                                       int64
 22   LIVE_REGION_NOT_WORK_REGION                                      int64
 23   REG_CITY_NOT_LIVE_CITY                                           int64
 24   REG_CITY_NOT_WORK_CITY                                           int64
 25   LIVE_CITY_NOT_WORK_CITY                                          int64
 26   OBS_30_CNT_SOCIAL_CIRCLE                                         float64
 27   DEF_30_CNT_SOCIAL_CIRCLE                                         float64
 28   OBS_60_CNT_SOCIAL_CIRCLE                                         float64
 29   DEF_60_CNT_SOCIAL_CIRCLE                                         float64
 30   DAYS_LAST_PHONE_CHANGE                                           float64
 31   AMT_REQ_CREDIT_BUREAU_HOUR                                       float64
 32   AMT_REQ_CREDIT_BUREAU_DAY                                        float64
 33   AMT_REQ_CREDIT_BUREAU_WEEK                                       float64
 34   AMT_REQ_CREDIT_BUREAU_MON                                        float64
 35   AMT_REQ_CREDIT_BUREAU_QRT                                        float64
 36   AMT_REQ_CREDIT_BUREAU_YEAR                                       float64
 37   DAYS_EMPLOYED_ANOM                                               bool
 38   NAME_CONTRACT_TYPE_Cash loans                                    int64
 39   NAME_CONTRACT_TYPE_Revolving loans                               int64
 40   CODE_GENDER_F                                                    int64
 41   CODE_GENDER_M                                                    int64
 42   CODE_GENDER_XNA                                                  int64
 43   FLAG_OWN_CAR_N                                                   int64
 44   FLAG_OWN_CAR_Y                                                   int64
 45   FLAG_OWN_REALTY_N                                                int64
 46   FLAG_OWN_REALTY_Y                                                int64
 47   NAME_TYPE_SUITE_Children                                         int64
 48   NAME_TYPE_SUITE_Family                                           int64
 49   NAME_TYPE_SUITE_Group of people                                  int64
 50   NAME_TYPE_SUITE_Other_A                                          int64
 51   NAME_TYPE_SUITE_Other_B                                          int64
 52   NAME_TYPE_SUITE_Spouse, partner                                  int64
 53   NAME_TYPE_SUITE_Unaccompanied                                    int64
 54   NAME_INCOME_TYPE_Businessman                                     int64
 55   NAME_INCOME_TYPE_Commercial associate                            int64
 56   NAME_INCOME_TYPE_Maternity leave                                 int64
 57   NAME_INCOME_TYPE_Pensioner                                       int64
 58   NAME_INCOME_TYPE_State servant                                   int64
 59   NAME_INCOME_TYPE_Student                                         int64
 60   NAME_INCOME_TYPE_Unemployed                                      int64
 61   NAME_INCOME_TYPE_Working                                         int64
 62   NAME_FAMILY_STATUS_Civil marriage                                int64
 63   NAME_FAMILY_STATUS_Married                                       int64
 64   NAME_FAMILY_STATUS_Separated                                     int64
 65   NAME_FAMILY_STATUS_Single / not married                          int64
 66   NAME_FAMILY_STATUS_Unknown                                       int64
 67   NAME_FAMILY_STATUS_Widow                                         int64
 68   NAME_HOUSING_TYPE_Co-op apartment                                int64
 69   NAME_HOUSING_TYPE_House / apartment                              int64
 70   NAME_HOUSING_TYPE_Municipal apartment                            int64
 71   NAME_HOUSING_TYPE_Office apartment                               int64
 72   NAME_HOUSING_TYPE_Rented apartment                               int64
 73   NAME_HOUSING_TYPE_With parents                                   int64
 74   OCCUPATION_TYPE_Accountants                                      int64
 75   OCCUPATION_TYPE_Cleaning staff                                   int64
 76   OCCUPATION_TYPE_Cooking staff                                    int64
 77   OCCUPATION_TYPE_Core staff                                       int64
 78   OCCUPATION_TYPE_Drivers                                          int64
 79   OCCUPATION_TYPE_HR staff                                         int64
 80   OCCUPATION_TYPE_High skill tech staff                            int64
 81   OCCUPATION_TYPE_IT staff                                         int64
 82   OCCUPATION_TYPE_Laborers                                         int64
 83   OCCUPATION_TYPE_Low-skill Laborers                               int64
 84   OCCUPATION_TYPE_Managers                                         int64
 85   OCCUPATION_TYPE_Medicine staff                                   int64
 86   OCCUPATION_TYPE_Private service staff                            int64
 87   OCCUPATION_TYPE_Realty agents                                    int64
 88   OCCUPATION_TYPE_Sales staff                                      int64
 89   OCCUPATION_TYPE_Secretaries                                      int64
 90   OCCUPATION_TYPE_Security staff                                   int64
 91   OCCUPATION_TYPE_Waiters/barmen staff                             int64
 92   WEEKDAY_APPR_PROCESS_START_FRIDAY                                int64
 93   WEEKDAY_APPR_PROCESS_START_MONDAY                                int64
 94   WEEKDAY_APPR_PROCESS_START_SATURDAY                              int64
 95   WEEKDAY_APPR_PROCESS_START_SUNDAY                                int64
 96   WEEKDAY_APPR_PROCESS_START_THURSDAY                              int64
 97   WEEKDAY_APPR_PROCESS_START_TUESDAY                               int64
 98   WEEKDAY_APPR_PROCESS_START_WEDNESDAY                             int64
 99   ORGANIZATION_TYPE_Advertising                                    int64
 100  ORGANIZATION_TYPE_Agriculture                                    int64
 101  ORGANIZATION_TYPE_Bank                                           int64
 102  ORGANIZATION_TYPE_Business Entity Type 1                         int64
 103  ORGANIZATION_TYPE_Business Entity Type 2                         int64
 104  ORGANIZATION_TYPE_Business Entity Type 3                         int64
 105  ORGANIZATION_TYPE_Cleaning                                       int64
 106  ORGANIZATION_TYPE_Construction                                   int64
 107  ORGANIZATION_TYPE_Culture                                        int64
 108  ORGANIZATION_TYPE_Electricity                                    int64
 109  ORGANIZATION_TYPE_Emergency                                      int64
 110  ORGANIZATION_TYPE_Government                                     int64
 111  ORGANIZATION_TYPE_Hotel                                          int64
 112  ORGANIZATION_TYPE_Housing                                        int64
 113  ORGANIZATION_TYPE_Industry: type 1                               int64
 114  ORGANIZATION_TYPE_Industry: type 10                              int64
 115  ORGANIZATION_TYPE_Industry: type 11                              int64
 116  ORGANIZATION_TYPE_Industry: type 12                              int64
 117  ORGANIZATION_TYPE_Industry: type 13                              int64
 118  ORGANIZATION_TYPE_Industry: type 2                               int64
 119  ORGANIZATION_TYPE_Industry: type 3                               int64
 120  ORGANIZATION_TYPE_Industry: type 4                               int64
 121  ORGANIZATION_TYPE_Industry: type 5                               int64
 122  ORGANIZATION_TYPE_Industry: type 6                               int64
 123  ORGANIZATION_TYPE_Industry: type 7                               int64
 124  ORGANIZATION_TYPE_Industry: type 8                               int64
 125  ORGANIZATION_TYPE_Industry: type 9                               int64
 126  ORGANIZATION_TYPE_Insurance                                      int64
 127  ORGANIZATION_TYPE_Kindergarten                                   int64
 128  ORGANIZATION_TYPE_Legal Services                                 int64
 129  ORGANIZATION_TYPE_Medicine                                       int64
 130  ORGANIZATION_TYPE_Military                                       int64
 131  ORGANIZATION_TYPE_Mobile                                         int64
 132  ORGANIZATION_TYPE_Other                                          int64
 133  ORGANIZATION_TYPE_Police                                         int64
 134  ORGANIZATION_TYPE_Postal                                         int64
 135  ORGANIZATION_TYPE_Realtor                                        int64
 136  ORGANIZATION_TYPE_Religion                                       int64
 137  ORGANIZATION_TYPE_Restaurant                                     int64
 138  ORGANIZATION_TYPE_School                                         int64
 139  ORGANIZATION_TYPE_Security                                       int64
 140  ORGANIZATION_TYPE_Security Ministries                            int64
 141  ORGANIZATION_TYPE_Self-employed                                  int64
 142  ORGANIZATION_TYPE_Services                                       int64
 143  ORGANIZATION_TYPE_Telecom                                        int64
 144  ORGANIZATION_TYPE_Trade: type 1                                  int64
 145  ORGANIZATION_TYPE_Trade: type 2                                  int64
 146  ORGANIZATION_TYPE_Trade: type 3                                  int64
 147  ORGANIZATION_TYPE_Trade: type 4                                  int64
 148  ORGANIZATION_TYPE_Trade: type 5                                  int64
 149  ORGANIZATION_TYPE_Trade: type 6                                  int64
 150  ORGANIZATION_TYPE_Trade: type 7                                  int64
 151  ORGANIZATION_TYPE_Transport: type 1                              int64
 152  ORGANIZATION_TYPE_Transport: type 2                              int64
 153  ORGANIZATION_TYPE_Transport: type 3                              int64
 154  ORGANIZATION_TYPE_Transport: type 4                              int64
 155  ORGANIZATION_TYPE_University                                     int64
 156  ORGANIZATION_TYPE_XNA                                            int64
 157  FONDKAPREMONT_MODE_not specified                                 int64
 158  FONDKAPREMONT_MODE_org spec account                              int64
 159  FONDKAPREMONT_MODE_reg oper account                              int64
 160  FONDKAPREMONT_MODE_reg oper spec account                         int64
 161  HOUSETYPE_MODE_block of flats                                    int64
 162  HOUSETYPE_MODE_specific housing                                  int64
 163  HOUSETYPE_MODE_terraced house                                    int64
 164  WALLSMATERIAL_MODE_Block                                         int64
 165  WALLSMATERIAL_MODE_Mixed                                         int64
 166  WALLSMATERIAL_MODE_Monolithic                                    int64
 167  WALLSMATERIAL_MODE_Others                                        int64
 168  WALLSMATERIAL_MODE_Panel                                         int64
 169  WALLSMATERIAL_MODE_Stone, brick                                  int64
 170  WALLSMATERIAL_MODE_Wooden                                        int64
 171  EMERGENCYSTATE_MODE_No                                           int64
 172  EMERGENCYSTATE_MODE_Yes                                          int64
 173  SK_NUM_PREV                                                      float64
 174  NUM_INSTALMENT_VERSION                                           float64
 175  DAYS_LATE_PAYMENT                                                float64
 176  NAN                                                              float64
 177  AMT_ARREARS                                                      float64
 178  PC_CNT_INSTALMENT_max                                            float64
 179  PC_CNT_INSTALMENT_mean                                           float64
 180  PC_SK_DPDMix_Max                                                 float64
 181  PC_SK_DPDMix_mean                                                float64
 182  PC_Delay_total                                                   float64
 183  PC_Delay_mean                                                    float64
 184  PC_count                                                         float64
 185  SK_ID_PREV_y                                                     float64
 186  PREV_ANNUITY_median                                              float64
 187  PREV_APPLICATION_max                                             float64
 188  PREV_CREDIT_max                                                  float64
 189  PREV_CREDIT_sum                                                  float64
 190  PREV_DOWN_PAYMENT_median                                         float64
 191  PREV_GOODS_PRICE_max                                             float64
 192  PREV_CRE/APP_max                                                 float64
 193  RATE_DOWN_PAYMENT_median                                         float64
 194  RATE_INTEREST_PRIMARY_median                                     float64
 195  RATE_INTEREST_PRIMARY_max                                        float64
 196  DAYS_DECISION_median                                             float64
 197  CNT_PAYMENT_median                                               float64
 198  DAYS_PERIOD_median                                               float64
 199  CONTRACT_Cash_loans                                              float64
 200  CONTRACT_Consumer_loans                                          float64
 201  CONTRACT_Revolving_loans                                         float64
 202  Cash through the bank                                            float64
 203  Cashless from the account of the employer                        float64
 204  Non-cash from your account                                       float64
 205  PORTFOLIO_Cards                                                  float64
 206  PORTFOLIO_Cars                                                   float64
 207  PORTFOLIO_Cash                                                   float64
 208  PORTFOLIO_POS                                                    float64
 209  YIELD_high                                                       float64
 210  YIELD_low                                                        float64
 211  YIELD_middle                                                     float64
 212  HOUR_APPR_PROCESS_START_y                                        float64
 213  WEEKDAY_APPR_PROCESS_START                                       float64
 214  NAME_TYPE_SUITE                                                  float64
 215  bureau_SK_ID_CURR                                                float64
 216  bureau_CREDIT_ACTIVE                                             float64
 217  bureau_CREDIT_Bad debt                                           float64
 218  bureau_CREDIT_Closed                                             float64
 219  bureau_CREDIT_Sold                                               float64
 220  bureau_DAYS_CREDIT                                               float64
 221  bureau_CREDIT_DAY_OVERDUE                                        float64
 222  bureau_DAYS_CREDIT_ENDDATE                                       float64
 223  bureau_DAYS_ENDDATE_FACT                                         float64
 224  bureau_CNT_CREDIT_PROLONG                                        float64
 225  bureau_AMT_CREDIT_SUM                                            float64
 226  bureau_AMT_CREDIT_SUM_DEBT                                       float64
 227  bureau_AMT_CREDIT_SUM_LIMIT                                      float64
 228  bureau_AMT_CREDIT_SUM_OVERDUE                                    float64
 229  bureau_CREDIT_TYPE_Another type of loan                          float64
 230  bureau_CREDIT_TYPE_Car loan                                      float64
 231  bureau_CREDIT_TYPE_Cash loan (non-earmarked)                     float64
 232  bureau_CREDIT_TYPE_Consumer credit                               float64
 233  bureau_CREDIT_TYPE_Credit card                                   float64
 234  bureau_CREDIT_TYPE_Interbank credit                              float64
 235  bureau_CREDIT_TYPE_Loan for business development                 float64
 236  bureau_CREDIT_TYPE_Loan for purchase of shares (margin lending)  float64
 237  bureau_CREDIT_TYPE_Loan for the purchase of equipment            float64
 238  bureau_CREDIT_TYPE_Loan for working capital replenishment        float64
 239  bureau_CREDIT_TYPE_Microloan                                     float64
 240  bureau_CREDIT_TYPE_Mobile operator loan                          float64
 241  bureau_CREDIT_TYPE_Mortgage                                      float64
 242  bureau_CREDIT_TYPE_Real estate loan                              float64
 243  bureau_CREDIT_TYPE_Unknown type of loan                          float64
 244  bureau_DAYS_CREDIT_UPDATE                                        float64
 245  bureau_CLOSE                                                     float64
 246  bureau_SK_ID_BUREAU_counts                                       float64
 247  FLAG_DOCUMENT_RATIO                                              float64
dtypes: bool(1), float64(91), int64(156)
memory usage: 674.4 MB

In [13]:
pd.set_option("display.max_rows",1000)
pd.set_option("display.max_columns",1000)
np.isinf(train_merge).all()

SK_ID_CURR                                                         False
TARGET                                                             False
CNT_CHILDREN                                                       False
AMT_INCOME_TOTAL                                                   False
NAME_EDUCATION_TYPE                                                False
REGION_POPULATION_RELATIVE                                         False
DAYS_BIRTH                                                         False
DAYS_EMPLOYED                                                      False
DAYS_REGISTRATION                                                  False
DAYS_ID_PUBLISH                                                    False
FLAG_MOBIL                                                         False
FLAG_EMP_PHONE                                                     False
FLAG_WORK_PHONE                                                    False
FLAG_CONT_MOBILE                                                   False
FLAG_PHONE                                                         False
FLAG_EMAIL                                                         False
CNT_FAM_MEMBERS                                                    False
REGION_RATING_CLIENT                                               False
REGION_RATING_CLIENT_W_CITY                                        False
HOUR_APPR_PROCESS_START_x                                          False
REG_REGION_NOT_LIVE_REGION                                         False
REG_REGION_NOT_WORK_REGION                                         False
LIVE_REGION_NOT_WORK_REGION                                        False
REG_CITY_NOT_LIVE_CITY                                             False
REG_CITY_NOT_WORK_CITY                                             False
LIVE_CITY_NOT_WORK_CITY                                            False
OBS_30_CNT_SOCIAL_CIRCLE                                           False
DEF_30_CNT_SOCIAL_CIRCLE                                           False
OBS_60_CNT_SOCIAL_CIRCLE                                           False
DEF_60_CNT_SOCIAL_CIRCLE                                           False
DAYS_LAST_PHONE_CHANGE                                             False
AMT_REQ_CREDIT_BUREAU_HOUR                                         False
AMT_REQ_CREDIT_BUREAU_DAY                                          False
AMT_REQ_CREDIT_BUREAU_WEEK                                         False
AMT_REQ_CREDIT_BUREAU_MON                                          False
AMT_REQ_CREDIT_BUREAU_QRT                                          False
AMT_REQ_CREDIT_BUREAU_YEAR                                         False
DAYS_EMPLOYED_ANOM                                                 False
NAME_CONTRACT_TYPE_Cash loans                                      False
NAME_CONTRACT_TYPE_Revolving loans                                 False
CODE_GENDER_F                                                      False
CODE_GENDER_M                                                      False
CODE_GENDER_XNA                                                    False
FLAG_OWN_CAR_N                                                     False
FLAG_OWN_CAR_Y                                                     False
FLAG_OWN_REALTY_N                                                  False
FLAG_OWN_REALTY_Y                                                  False
NAME_TYPE_SUITE_Children                                           False
NAME_TYPE_SUITE_Family                                             False
NAME_TYPE_SUITE_Group of people                                    False
NAME_TYPE_SUITE_Other_A                                            False
NAME_TYPE_SUITE_Other_B                                            False
NAME_TYPE_SUITE_Spouse, partner                                    False
NAME_TYPE_SUITE_Unaccompanied                                      False
NAME_INCOME_TYPE_Businessman                                       False
NAME_INCOME_TYPE_Commercial associate                              False
NAME_INCOME_TYPE_Maternity leave                                   False
NAME_INCOME_TYPE_Pensioner                                         False
NAME_INCOME_TYPE_State servant                                     False
NAME_INCOME_TYPE_Student                                           False
NAME_INCOME_TYPE_Unemployed                                        False
NAME_INCOME_TYPE_Working                                           False
NAME_FAMILY_STATUS_Civil marriage                                  False
NAME_FAMILY_STATUS_Married                                         False
NAME_FAMILY_STATUS_Separated                                       False
NAME_FAMILY_STATUS_Single / not married                            False
NAME_FAMILY_STATUS_Unknown                                         False
NAME_FAMILY_STATUS_Widow                                           False
NAME_HOUSING_TYPE_Co-op apartment                                  False
NAME_HOUSING_TYPE_House / apartment                                False
NAME_HOUSING_TYPE_Municipal apartment                              False
NAME_HOUSING_TYPE_Office apartment                                 False
NAME_HOUSING_TYPE_Rented apartment                                 False
NAME_HOUSING_TYPE_With parents                                     False
OCCUPATION_TYPE_Accountants                                        False
OCCUPATION_TYPE_Cleaning staff                                     False
OCCUPATION_TYPE_Cooking staff                                      False
OCCUPATION_TYPE_Core staff                                         False
OCCUPATION_TYPE_Drivers                                            False
OCCUPATION_TYPE_HR staff                                           False
OCCUPATION_TYPE_High skill tech staff                              False
OCCUPATION_TYPE_IT staff                                           False
OCCUPATION_TYPE_Laborers                                           False
OCCUPATION_TYPE_Low-skill Laborers                                 False
OCCUPATION_TYPE_Managers                                           False
OCCUPATION_TYPE_Medicine staff                                     False
OCCUPATION_TYPE_Private service staff                              False
OCCUPATION_TYPE_Realty agents                                      False
OCCUPATION_TYPE_Sales staff                                        False
OCCUPATION_TYPE_Secretaries                                        False
OCCUPATION_TYPE_Security staff                                     False
OCCUPATION_TYPE_Waiters/barmen staff                               False
WEEKDAY_APPR_PROCESS_START_FRIDAY                                  False
WEEKDAY_APPR_PROCESS_START_MONDAY                                  False
WEEKDAY_APPR_PROCESS_START_SATURDAY                                False
WEEKDAY_APPR_PROCESS_START_SUNDAY                                  False
WEEKDAY_APPR_PROCESS_START_THURSDAY                                False
WEEKDAY_APPR_PROCESS_START_TUESDAY                                 False
WEEKDAY_APPR_PROCESS_START_WEDNESDAY                               False
ORGANIZATION_TYPE_Advertising                                      False
ORGANIZATION_TYPE_Agriculture                                      False
ORGANIZATION_TYPE_Bank                                             False
ORGANIZATION_TYPE_Business Entity Type 1                           False
ORGANIZATION_TYPE_Business Entity Type 2                           False
ORGANIZATION_TYPE_Business Entity Type 3                           False
ORGANIZATION_TYPE_Cleaning                                         False
ORGANIZATION_TYPE_Construction                                     False
ORGANIZATION_TYPE_Culture                                          False
ORGANIZATION_TYPE_Electricity                                      False
ORGANIZATION_TYPE_Emergency                                        False
ORGANIZATION_TYPE_Government                                       False
ORGANIZATION_TYPE_Hotel                                            False
ORGANIZATION_TYPE_Housing                                          False
ORGANIZATION_TYPE_Industry: type 1                                 False
ORGANIZATION_TYPE_Industry: type 10                                False
ORGANIZATION_TYPE_Industry: type 11                                False
ORGANIZATION_TYPE_Industry: type 12                                False
ORGANIZATION_TYPE_Industry: type 13                                False
ORGANIZATION_TYPE_Industry: type 2                                 False
ORGANIZATION_TYPE_Industry: type 3                                 False
ORGANIZATION_TYPE_Industry: type 4                                 False
ORGANIZATION_TYPE_Industry: type 5                                 False
ORGANIZATION_TYPE_Industry: type 6                                 False
ORGANIZATION_TYPE_Industry: type 7                                 False
ORGANIZATION_TYPE_Industry: type 8                                 False
ORGANIZATION_TYPE_Industry: type 9                                 False
ORGANIZATION_TYPE_Insurance                                        False
ORGANIZATION_TYPE_Kindergarten                                     False
ORGANIZATION_TYPE_Legal Services                                   False
ORGANIZATION_TYPE_Medicine                                         False
ORGANIZATION_TYPE_Military                                         False
ORGANIZATION_TYPE_Mobile                                           False
ORGANIZATION_TYPE_Other                                            False
ORGANIZATION_TYPE_Police                                           False
ORGANIZATION_TYPE_Postal                                           False
ORGANIZATION_TYPE_Realtor                                          False
ORGANIZATION_TYPE_Religion                                         False
ORGANIZATION_TYPE_Restaurant                                       False
ORGANIZATION_TYPE_School                                           False
ORGANIZATION_TYPE_Security                                         False
ORGANIZATION_TYPE_Security Ministries                              False
ORGANIZATION_TYPE_Self-employed                                    False
ORGANIZATION_TYPE_Services                                         False
ORGANIZATION_TYPE_Telecom                                          False
ORGANIZATION_TYPE_Trade: type 1                                    False
ORGANIZATION_TYPE_Trade: type 2                                    False
ORGANIZATION_TYPE_Trade: type 3                                    False
ORGANIZATION_TYPE_Trade: type 4                                    False
ORGANIZATION_TYPE_Trade: type 5                                    False
ORGANIZATION_TYPE_Trade: type 6                                    False
ORGANIZATION_TYPE_Trade: type 7                                    False
ORGANIZATION_TYPE_Transport: type 1                                False
ORGANIZATION_TYPE_Transport: type 2                                False
ORGANIZATION_TYPE_Transport: type 3                                False
ORGANIZATION_TYPE_Transport: type 4                                False
ORGANIZATION_TYPE_University                                       False
ORGANIZATION_TYPE_XNA                                              False
FONDKAPREMONT_MODE_not specified                                   False
FONDKAPREMONT_MODE_org spec account                                False
FONDKAPREMONT_MODE_reg oper account                                False
FONDKAPREMONT_MODE_reg oper spec account                           False
HOUSETYPE_MODE_block of flats                                      False
HOUSETYPE_MODE_specific housing                                    False
HOUSETYPE_MODE_terraced house                                      False
WALLSMATERIAL_MODE_Block                                           False
WALLSMATERIAL_MODE_Mixed                                           False
WALLSMATERIAL_MODE_Monolithic                                      False
WALLSMATERIAL_MODE_Others                                          False
WALLSMATERIAL_MODE_Panel                                           False
WALLSMATERIAL_MODE_Stone, brick                                    False
WALLSMATERIAL_MODE_Wooden                                          False
EMERGENCYSTATE_MODE_No                                             False
EMERGENCYSTATE_MODE_Yes                                            False
SK_NUM_PREV                                                        False
NUM_INSTALMENT_VERSION                                             False
DAYS_LATE_PAYMENT                                                  False
NAN                                                                False
AMT_ARREARS                                                        False
PC_CNT_INSTALMENT_max                                              False
PC_CNT_INSTALMENT_mean                                             False
PC_SK_DPDMix_Max                                                   False
PC_SK_DPDMix_mean                                                  False
PC_Delay_total                                                     False
PC_Delay_mean                                                      False
PC_count                                                           False
SK_ID_PREV_y                                                       False
PREV_ANNUITY_median                                                False
PREV_APPLICATION_max                                               False
PREV_CREDIT_max                                                    False
PREV_CREDIT_sum                                                    False
PREV_DOWN_PAYMENT_median                                           False
PREV_GOODS_PRICE_max                                               False
PREV_CRE/APP_max                                                   False
RATE_DOWN_PAYMENT_median                                           False
RATE_INTEREST_PRIMARY_median                                       False
RATE_INTEREST_PRIMARY_max                                          False
DAYS_DECISION_median                                               False
CNT_PAYMENT_median                                                 False
DAYS_PERIOD_median                                                 False
CONTRACT_Cash_loans                                                False
CONTRACT_Consumer_loans                                            False
CONTRACT_Revolving_loans                                           False
Cash through the bank                                              False
Cashless from the account of the employer                          False
Non-cash from your account                                         False
PORTFOLIO_Cards                                                    False
PORTFOLIO_Cars                                                     False
PORTFOLIO_Cash                                                     False
PORTFOLIO_POS                                                      False
YIELD_high                                                         False
YIELD_low                                                          False
YIELD_middle                                                       False
HOUR_APPR_PROCESS_START_y                                          False
WEEKDAY_APPR_PROCESS_START                                         False
NAME_TYPE_SUITE                                                    False
bureau_SK_ID_CURR                                                  False
bureau_CREDIT_ACTIVE                                               False
bureau_CREDIT_Bad debt                                             False
bureau_CREDIT_Closed                                               False
bureau_CREDIT_Sold                                                 False
bureau_DAYS_CREDIT                                                 False
bureau_CREDIT_DAY_OVERDUE                                          False
bureau_DAYS_CREDIT_ENDDATE                                         False
bureau_DAYS_ENDDATE_FACT                                           False
bureau_CNT_CREDIT_PROLONG                                          False
bureau_AMT_CREDIT_SUM                                              False
bureau_AMT_CREDIT_SUM_DEBT                                         False
bureau_AMT_CREDIT_SUM_LIMIT                                        False
bureau_AMT_CREDIT_SUM_OVERDUE                                      False
bureau_CREDIT_TYPE_Another type of loan                            False
bureau_CREDIT_TYPE_Car loan                                        False
bureau_CREDIT_TYPE_Cash loan (non-earmarked)                       False
bureau_CREDIT_TYPE_Consumer credit                                 False
bureau_CREDIT_TYPE_Credit card                                     False
bureau_CREDIT_TYPE_Interbank credit                                False
bureau_CREDIT_TYPE_Loan for business development                   False
bureau_CREDIT_TYPE_Loan for purchase of shares (margin lending)    False
bureau_CREDIT_TYPE_Loan for the purchase of equipment              False
bureau_CREDIT_TYPE_Loan for working capital replenishment          False
bureau_CREDIT_TYPE_Microloan                                       False
bureau_CREDIT_TYPE_Mobile operator loan                            False
bureau_CREDIT_TYPE_Mortgage                                        False
bureau_CREDIT_TYPE_Real estate loan                                False
bureau_CREDIT_TYPE_Unknown type of loan                            False
bureau_DAYS_CREDIT_UPDATE                                          False
bureau_CLOSE                                                       False
bureau_SK_ID_BUREAU_counts                                         False
FLAG_DOCUMENT_RATIO                                                False
dtype: bool

In [14]:
train_merge['PREV_CRE/APP_max'] = train_merge['PREV_CRE/APP_max'].replace([np.inf, -np.inf], 0)
train_merge['PREV_CRE/APP_max'].isnull().sum()

0

In [15]:
import numpy as np
from sklearn.linear_model  import LogisticRegression
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, confusion_matrix
X_train = train_merge.iloc[:,2:]
# X_train = X_train.replace([np.inf, -np.inf], np.nan)
scaler = preprocessing.StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_train

array([[-0.57513695,  0.14489037, -0.58645867, ...,  1.91599148,
         0.63133273,  0.19276765],
       [-0.57513695,  0.446895  ,  1.69588141, ..., -0.46491591,
        -0.33413948,  0.19276765],
       [-0.57513695, -0.4591189 , -0.58645867, ..., -0.46491591,
        -0.81687559, -2.89719592],
       ...,
       [ 0.81302455,  0.14489037, -0.58645867, ...,  1.12235568,
        -0.09277143,  0.19276765],
       [-0.57513695,  0.24555858,  1.69588141, ...,  3.50326307,
         2.80364521,  0.19276765],
       [-0.57513695, -0.15711426, -0.58645867, ..., -0.06809801,
        -0.57550754,  0.19276765]])

In [16]:
pd.set_option("display.max_rows",1000)
pd.set_option("display.max_columns",1000)
train_merge = train_merge.drop(columns=['FLAG_MOBIL', 'FLAG_CONT_MOBILE', 'AMT_REQ_CREDIT_BUREAU_DAY', 'CODE_GENDER_XNA', 'NAME_TYPE_SUITE_Group of people', 'NAME_TYPE_SUITE_Other_A', 'NAME_INCOME_TYPE_Businessman', 'NAME_INCOME_TYPE_Maternity leave', 'NAME_INCOME_TYPE_Student', 'NAME_INCOME_TYPE_Unemployed', 'NAME_FAMILY_STATUS_Unknown', 'NAME_HOUSING_TYPE_Co-op apartment', 'OCCUPATION_TYPE_HR staff', 'OCCUPATION_TYPE_IT staff', 'OCCUPATION_TYPE_Realty agents', 'OCCUPATION_TYPE_Secretaries', 'OCCUPATION_TYPE_Waiters/barmen staff', 'ORGANIZATION_TYPE_Advertising', 'ORGANIZATION_TYPE_Cleaning', 'ORGANIZATION_TYPE_Culture', 'ORGANIZATION_TYPE_Electricity', 'ORGANIZATION_TYPE_Emergency', 'ORGANIZATION_TYPE_Hotel', 'ORGANIZATION_TYPE_Industry: type 1', 'ORGANIZATION_TYPE_Industry: type 10', 'ORGANIZATION_TYPE_Industry: type 12', 'ORGANIZATION_TYPE_Industry: type 13', 'ORGANIZATION_TYPE_Industry: type 2', 'ORGANIZATION_TYPE_Industry: type 4', 'ORGANIZATION_TYPE_Industry: type 5', 'ORGANIZATION_TYPE_Industry: type 6', 'ORGANIZATION_TYPE_Industry: type 7', 'ORGANIZATION_TYPE_Industry: type 8', 'ORGANIZATION_TYPE_Insurance', 'ORGANIZATION_TYPE_Legal Services', 'ORGANIZATION_TYPE_Mobile', 'ORGANIZATION_TYPE_Realtor', 'ORGANIZATION_TYPE_Religion', 'ORGANIZATION_TYPE_Telecom', 'ORGANIZATION_TYPE_Trade: type 1', 'ORGANIZATION_TYPE_Trade: type 4', 'ORGANIZATION_TYPE_Trade: type 5', 'ORGANIZATION_TYPE_Trade: type 6', 'ORGANIZATION_TYPE_Transport: type 1', 'ORGANIZATION_TYPE_Transport: type 3', 'ORGANIZATION_TYPE_University', 'HOUSETYPE_MODE_specific housing', 'HOUSETYPE_MODE_terraced house', 'Cashless from the account of the employer', 'PORTFOLIO_Cars', 'bureau_CREDIT_Bad debt', 'bureau_CREDIT_TYPE_Another type of loan', 'bureau_CREDIT_TYPE_Cash loan (non-earmarked)', 'bureau_CREDIT_TYPE_Interbank credit', 'bureau_CREDIT_TYPE_Loan for business development', 'bureau_CREDIT_TYPE_Loan for purchase of shares (margin lending)', 'bureau_CREDIT_TYPE_Loan for the purchase of equipment', 'bureau_CREDIT_TYPE_Loan for working capital replenishment', 'bureau_CREDIT_TYPE_Mobile operator loan', 'bureau_CREDIT_TYPE_Real estate loan', 'bureau_CREDIT_TYPE_Unknown type of loan','bureau_SK_ID_CURR'] )
train_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356255 entries, 0 to 356254
Columns: 186 entries, SK_ID_CURR to FLAG_DOCUMENT_RATIO
dtypes: bool(1), float64(76), int64(109)
memory usage: 505.9 MB

In [17]:
pd.set_option("display.max_rows",1000)
pd.set_option("display.max_columns",1000)
train_merge.info(1000)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356255 entries, 0 to 356254
Data columns (total 186 columns):
 #    Column                                    Dtype
---   ------                                    -----
 0    SK_ID_CURR                                int64
 1    TARGET                                    float64
 2    CNT_CHILDREN                              int64
 3    AMT_INCOME_TOTAL                          float64
 4    NAME_EDUCATION_TYPE                       int64
 5    REGION_POPULATION_RELATIVE                float64
 6    DAYS_BIRTH                                int64
 7    DAYS_EMPLOYED                             int64
 8    DAYS_REGISTRATION                         float64
 9    DAYS_ID_PUBLISH                           int64
 10   FLAG_EMP_PHONE                            int64
 11   FLAG_WORK_PHONE                           int64
 12   FLAG_PHONE                                int64
 13   FLAG_EMAIL                                int64
 14   CNT_FAM_MEMBERS                           float64
 15   REGION_RATING_CLIENT                      int64
 16   REGION_RATING_CLIENT_W_CITY               int64
 17   HOUR_APPR_PROCESS_START_x                 int64
 18   REG_REGION_NOT_LIVE_REGION                int64
 19   REG_REGION_NOT_WORK_REGION                int64
 20   LIVE_REGION_NOT_WORK_REGION               int64
 21   REG_CITY_NOT_LIVE_CITY                    int64
 22   REG_CITY_NOT_WORK_CITY                    int64
 23   LIVE_CITY_NOT_WORK_CITY                   int64
 24   OBS_30_CNT_SOCIAL_CIRCLE                  float64
 25   DEF_30_CNT_SOCIAL_CIRCLE                  float64
 26   OBS_60_CNT_SOCIAL_CIRCLE                  float64
 27   DEF_60_CNT_SOCIAL_CIRCLE                  float64
 28   DAYS_LAST_PHONE_CHANGE                    float64
 29   AMT_REQ_CREDIT_BUREAU_HOUR                float64
 30   AMT_REQ_CREDIT_BUREAU_WEEK                float64
 31   AMT_REQ_CREDIT_BUREAU_MON                 float64
 32   AMT_REQ_CREDIT_BUREAU_QRT                 float64
 33   AMT_REQ_CREDIT_BUREAU_YEAR                float64
 34   DAYS_EMPLOYED_ANOM                        bool
 35   NAME_CONTRACT_TYPE_Cash loans             int64
 36   NAME_CONTRACT_TYPE_Revolving loans        int64
 37   CODE_GENDER_F                             int64
 38   CODE_GENDER_M                             int64
 39   FLAG_OWN_CAR_N                            int64
 40   FLAG_OWN_CAR_Y                            int64
 41   FLAG_OWN_REALTY_N                         int64
 42   FLAG_OWN_REALTY_Y                         int64
 43   NAME_TYPE_SUITE_Children                  int64
 44   NAME_TYPE_SUITE_Family                    int64
 45   NAME_TYPE_SUITE_Other_B                   int64
 46   NAME_TYPE_SUITE_Spouse, partner           int64
 47   NAME_TYPE_SUITE_Unaccompanied             int64
 48   NAME_INCOME_TYPE_Commercial associate     int64
 49   NAME_INCOME_TYPE_Pensioner                int64
 50   NAME_INCOME_TYPE_State servant            int64
 51   NAME_INCOME_TYPE_Working                  int64
 52   NAME_FAMILY_STATUS_Civil marriage         int64
 53   NAME_FAMILY_STATUS_Married                int64
 54   NAME_FAMILY_STATUS_Separated              int64
 55   NAME_FAMILY_STATUS_Single / not married   int64
 56   NAME_FAMILY_STATUS_Widow                  int64
 57   NAME_HOUSING_TYPE_House / apartment       int64
 58   NAME_HOUSING_TYPE_Municipal apartment     int64
 59   NAME_HOUSING_TYPE_Office apartment        int64
 60   NAME_HOUSING_TYPE_Rented apartment        int64
 61   NAME_HOUSING_TYPE_With parents            int64
 62   OCCUPATION_TYPE_Accountants               int64
 63   OCCUPATION_TYPE_Cleaning staff            int64
 64   OCCUPATION_TYPE_Cooking staff             int64
 65   OCCUPATION_TYPE_Core staff                int64
 66   OCCUPATION_TYPE_Drivers                   int64
 67   OCCUPATION_TYPE_High skill tech staff     int64
 68   OCCUPATION_TYPE_Laborers                  int64
 69   OCCUPATION_TYPE_Low-skill Laborers        int64
 70   OCCUPATION_TYPE_Managers                  int64
 71   OCCUPATION_TYPE_Medicine staff            int64
 72   OCCUPATION_TYPE_Private service staff     int64
 73   OCCUPATION_TYPE_Sales staff               int64
 74   OCCUPATION_TYPE_Security staff            int64
 75   WEEKDAY_APPR_PROCESS_START_FRIDAY         int64
 76   WEEKDAY_APPR_PROCESS_START_MONDAY         int64
 77   WEEKDAY_APPR_PROCESS_START_SATURDAY       int64
 78   WEEKDAY_APPR_PROCESS_START_SUNDAY         int64
 79   WEEKDAY_APPR_PROCESS_START_THURSDAY       int64
 80   WEEKDAY_APPR_PROCESS_START_TUESDAY        int64
 81   WEEKDAY_APPR_PROCESS_START_WEDNESDAY      int64
 82   ORGANIZATION_TYPE_Agriculture             int64
 83   ORGANIZATION_TYPE_Bank                    int64
 84   ORGANIZATION_TYPE_Business Entity Type 1  int64
 85   ORGANIZATION_TYPE_Business Entity Type 2  int64
 86   ORGANIZATION_TYPE_Business Entity Type 3  int64
 87   ORGANIZATION_TYPE_Construction            int64
 88   ORGANIZATION_TYPE_Government              int64
 89   ORGANIZATION_TYPE_Housing                 int64
 90   ORGANIZATION_TYPE_Industry: type 11       int64
 91   ORGANIZATION_TYPE_Industry: type 3        int64
 92   ORGANIZATION_TYPE_Industry: type 9        int64
 93   ORGANIZATION_TYPE_Kindergarten            int64
 94   ORGANIZATION_TYPE_Medicine                int64
 95   ORGANIZATION_TYPE_Military                int64
 96   ORGANIZATION_TYPE_Other                   int64
 97   ORGANIZATION_TYPE_Police                  int64
 98   ORGANIZATION_TYPE_Postal                  int64
 99   ORGANIZATION_TYPE_Restaurant              int64
 100  ORGANIZATION_TYPE_School                  int64
 101  ORGANIZATION_TYPE_Security                int64
 102  ORGANIZATION_TYPE_Security Ministries     int64
 103  ORGANIZATION_TYPE_Self-employed           int64
 104  ORGANIZATION_TYPE_Services                int64
 105  ORGANIZATION_TYPE_Trade: type 2           int64
 106  ORGANIZATION_TYPE_Trade: type 3           int64
 107  ORGANIZATION_TYPE_Trade: type 7           int64
 108  ORGANIZATION_TYPE_Transport: type 2       int64
 109  ORGANIZATION_TYPE_Transport: type 4       int64
 110  ORGANIZATION_TYPE_XNA                     int64
 111  FONDKAPREMONT_MODE_not specified          int64
 112  FONDKAPREMONT_MODE_org spec account       int64
 113  FONDKAPREMONT_MODE_reg oper account       int64
 114  FONDKAPREMONT_MODE_reg oper spec account  int64
 115  HOUSETYPE_MODE_block of flats             int64
 116  WALLSMATERIAL_MODE_Block                  int64
 117  WALLSMATERIAL_MODE_Mixed                  int64
 118  WALLSMATERIAL_MODE_Monolithic             int64
 119  WALLSMATERIAL_MODE_Others                 int64
 120  WALLSMATERIAL_MODE_Panel                  int64
 121  WALLSMATERIAL_MODE_Stone, brick           int64
 122  WALLSMATERIAL_MODE_Wooden                 int64
 123  EMERGENCYSTATE_MODE_No                    int64
 124  EMERGENCYSTATE_MODE_Yes                   int64
 125  SK_NUM_PREV                               float64
 126  NUM_INSTALMENT_VERSION                    float64
 127  DAYS_LATE_PAYMENT                         float64
 128  NAN                                       float64
 129  AMT_ARREARS                               float64
 130  PC_CNT_INSTALMENT_max                     float64
 131  PC_CNT_INSTALMENT_mean                    float64
 132  PC_SK_DPDMix_Max                          float64
 133  PC_SK_DPDMix_mean                         float64
 134  PC_Delay_total                            float64
 135  PC_Delay_mean                             float64
 136  PC_count                                  float64
 137  SK_ID_PREV_y                              float64
 138  PREV_ANNUITY_median                       float64
 139  PREV_APPLICATION_max                      float64
 140  PREV_CREDIT_max                           float64
 141  PREV_CREDIT_sum                           float64
 142  PREV_DOWN_PAYMENT_median                  float64
 143  PREV_GOODS_PRICE_max                      float64
 144  PREV_CRE/APP_max                          float64
 145  RATE_DOWN_PAYMENT_median                  float64
 146  RATE_INTEREST_PRIMARY_median              float64
 147  RATE_INTEREST_PRIMARY_max                 float64
 148  DAYS_DECISION_median                      float64
 149  CNT_PAYMENT_median                        float64
 150  DAYS_PERIOD_median                        float64
 151  CONTRACT_Cash_loans                       float64
 152  CONTRACT_Consumer_loans                   float64
 153  CONTRACT_Revolving_loans                  float64
 154  Cash through the bank                     float64
 155  Non-cash from your account                float64
 156  PORTFOLIO_Cards                           float64
 157  PORTFOLIO_Cash                            float64
 158  PORTFOLIO_POS                             float64
 159  YIELD_high                                float64
 160  YIELD_low                                 float64
 161  YIELD_middle                              float64
 162  HOUR_APPR_PROCESS_START_y                 float64
 163  WEEKDAY_APPR_PROCESS_START                float64
 164  NAME_TYPE_SUITE                           float64
 165  bureau_CREDIT_ACTIVE                      float64
 166  bureau_CREDIT_Closed                      float64
 167  bureau_CREDIT_Sold                        float64
 168  bureau_DAYS_CREDIT                        float64
 169  bureau_CREDIT_DAY_OVERDUE                 float64
 170  bureau_DAYS_CREDIT_ENDDATE                float64
 171  bureau_DAYS_ENDDATE_FACT                  float64
 172  bureau_CNT_CREDIT_PROLONG                 float64
 173  bureau_AMT_CREDIT_SUM                     float64
 174  bureau_AMT_CREDIT_SUM_DEBT                float64
 175  bureau_AMT_CREDIT_SUM_LIMIT               float64
 176  bureau_AMT_CREDIT_SUM_OVERDUE             float64
 177  bureau_CREDIT_TYPE_Car loan               float64
 178  bureau_CREDIT_TYPE_Consumer credit        float64
 179  bureau_CREDIT_TYPE_Credit card            float64
 180  bureau_CREDIT_TYPE_Microloan              float64
 181  bureau_CREDIT_TYPE_Mortgage               float64
 182  bureau_DAYS_CREDIT_UPDATE                 float64
 183  bureau_CLOSE                              float64
 184  bureau_SK_ID_BUREAU_counts                float64
 185  FLAG_DOCUMENT_RATIO                       float64
dtypes: bool(1), float64(76), int64(109)
memory usage: 505.9 MB

In [18]:
train_merge = train_merge.drop(columns=['OBS_30_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE','ORGANIZATION_TYPE_Business Entity Type 1','ORGANIZATION_TYPE_Business Entity Type 2','ORGANIZATION_TYPE_Business Entity Type 3','ORGANIZATION_TYPE_Industry: type 11','ORGANIZATION_TYPE_Industry: type 3','ORGANIZATION_TYPE_Industry: type 9','ORGANIZATION_TYPE_Trade: type 2','ORGANIZATION_TYPE_Trade: type 3','ORGANIZATION_TYPE_Trade: type 7','ORGANIZATION_TYPE_Transport: type 2','ORGANIZATION_TYPE_Transport: type 4','NAME_TYPE_SUITE_Other_B','REGION_POPULATION_RELATIVE','REGION_RATING_CLIENT','REGION_RATING_CLIENT_W_CITY','DAYS_EMPLOYED_ANOM','SK_ID_PREV_y','EMERGENCYSTATE_MODE_No','EMERGENCYSTATE_MODE_Yes'])

In [19]:
pd.set_option("display.max_rows",1000)
pd.set_option("display.max_columns",1000)
train_merge.info(1000)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356255 entries, 0 to 356254
Data columns (total 165 columns):
 #    Column                                    Dtype
---   ------                                    -----
 0    SK_ID_CURR                                int64
 1    TARGET                                    float64
 2    CNT_CHILDREN                              int64
 3    AMT_INCOME_TOTAL                          float64
 4    NAME_EDUCATION_TYPE                       int64
 5    DAYS_BIRTH                                int64
 6    DAYS_EMPLOYED                             int64
 7    DAYS_REGISTRATION                         float64
 8    DAYS_ID_PUBLISH                           int64
 9    FLAG_EMP_PHONE                            int64
 10   FLAG_WORK_PHONE                           int64
 11   FLAG_PHONE                                int64
 12   FLAG_EMAIL                                int64
 13   CNT_FAM_MEMBERS                           float64
 14   HOUR_APPR_PROCESS_START_x                 int64
 15   REG_REGION_NOT_LIVE_REGION                int64
 16   REG_REGION_NOT_WORK_REGION                int64
 17   LIVE_REGION_NOT_WORK_REGION               int64
 18   REG_CITY_NOT_LIVE_CITY                    int64
 19   REG_CITY_NOT_WORK_CITY                    int64
 20   LIVE_CITY_NOT_WORK_CITY                   int64
 21   OBS_60_CNT_SOCIAL_CIRCLE                  float64
 22   DEF_60_CNT_SOCIAL_CIRCLE                  float64
 23   DAYS_LAST_PHONE_CHANGE                    float64
 24   AMT_REQ_CREDIT_BUREAU_HOUR                float64
 25   AMT_REQ_CREDIT_BUREAU_WEEK                float64
 26   AMT_REQ_CREDIT_BUREAU_MON                 float64
 27   AMT_REQ_CREDIT_BUREAU_QRT                 float64
 28   AMT_REQ_CREDIT_BUREAU_YEAR                float64
 29   NAME_CONTRACT_TYPE_Cash loans             int64
 30   NAME_CONTRACT_TYPE_Revolving loans        int64
 31   CODE_GENDER_F                             int64
 32   CODE_GENDER_M                             int64
 33   FLAG_OWN_CAR_N                            int64
 34   FLAG_OWN_CAR_Y                            int64
 35   FLAG_OWN_REALTY_N                         int64
 36   FLAG_OWN_REALTY_Y                         int64
 37   NAME_TYPE_SUITE_Children                  int64
 38   NAME_TYPE_SUITE_Family                    int64
 39   NAME_TYPE_SUITE_Spouse, partner           int64
 40   NAME_TYPE_SUITE_Unaccompanied             int64
 41   NAME_INCOME_TYPE_Commercial associate     int64
 42   NAME_INCOME_TYPE_Pensioner                int64
 43   NAME_INCOME_TYPE_State servant            int64
 44   NAME_INCOME_TYPE_Working                  int64
 45   NAME_FAMILY_STATUS_Civil marriage         int64
 46   NAME_FAMILY_STATUS_Married                int64
 47   NAME_FAMILY_STATUS_Separated              int64
 48   NAME_FAMILY_STATUS_Single / not married   int64
 49   NAME_FAMILY_STATUS_Widow                  int64
 50   NAME_HOUSING_TYPE_House / apartment       int64
 51   NAME_HOUSING_TYPE_Municipal apartment     int64
 52   NAME_HOUSING_TYPE_Office apartment        int64
 53   NAME_HOUSING_TYPE_Rented apartment        int64
 54   NAME_HOUSING_TYPE_With parents            int64
 55   OCCUPATION_TYPE_Accountants               int64
 56   OCCUPATION_TYPE_Cleaning staff            int64
 57   OCCUPATION_TYPE_Cooking staff             int64
 58   OCCUPATION_TYPE_Core staff                int64
 59   OCCUPATION_TYPE_Drivers                   int64
 60   OCCUPATION_TYPE_High skill tech staff     int64
 61   OCCUPATION_TYPE_Laborers                  int64
 62   OCCUPATION_TYPE_Low-skill Laborers        int64
 63   OCCUPATION_TYPE_Managers                  int64
 64   OCCUPATION_TYPE_Medicine staff            int64
 65   OCCUPATION_TYPE_Private service staff     int64
 66   OCCUPATION_TYPE_Sales staff               int64
 67   OCCUPATION_TYPE_Security staff            int64
 68   WEEKDAY_APPR_PROCESS_START_FRIDAY         int64
 69   WEEKDAY_APPR_PROCESS_START_MONDAY         int64
 70   WEEKDAY_APPR_PROCESS_START_SATURDAY       int64
 71   WEEKDAY_APPR_PROCESS_START_SUNDAY         int64
 72   WEEKDAY_APPR_PROCESS_START_THURSDAY       int64
 73   WEEKDAY_APPR_PROCESS_START_TUESDAY        int64
 74   WEEKDAY_APPR_PROCESS_START_WEDNESDAY      int64
 75   ORGANIZATION_TYPE_Agriculture             int64
 76   ORGANIZATION_TYPE_Bank                    int64
 77   ORGANIZATION_TYPE_Construction            int64
 78   ORGANIZATION_TYPE_Government              int64
 79   ORGANIZATION_TYPE_Housing                 int64
 80   ORGANIZATION_TYPE_Kindergarten            int64
 81   ORGANIZATION_TYPE_Medicine                int64
 82   ORGANIZATION_TYPE_Military                int64
 83   ORGANIZATION_TYPE_Other                   int64
 84   ORGANIZATION_TYPE_Police                  int64
 85   ORGANIZATION_TYPE_Postal                  int64
 86   ORGANIZATION_TYPE_Restaurant              int64
 87   ORGANIZATION_TYPE_School                  int64
 88   ORGANIZATION_TYPE_Security                int64
 89   ORGANIZATION_TYPE_Security Ministries     int64
 90   ORGANIZATION_TYPE_Self-employed           int64
 91   ORGANIZATION_TYPE_Services                int64
 92   ORGANIZATION_TYPE_XNA                     int64
 93   FONDKAPREMONT_MODE_not specified          int64
 94   FONDKAPREMONT_MODE_org spec account       int64
 95   FONDKAPREMONT_MODE_reg oper account       int64
 96   FONDKAPREMONT_MODE_reg oper spec account  int64
 97   HOUSETYPE_MODE_block of flats             int64
 98   WALLSMATERIAL_MODE_Block                  int64
 99   WALLSMATERIAL_MODE_Mixed                  int64
 100  WALLSMATERIAL_MODE_Monolithic             int64
 101  WALLSMATERIAL_MODE_Others                 int64
 102  WALLSMATERIAL_MODE_Panel                  int64
 103  WALLSMATERIAL_MODE_Stone, brick           int64
 104  WALLSMATERIAL_MODE_Wooden                 int64
 105  SK_NUM_PREV                               float64
 106  NUM_INSTALMENT_VERSION                    float64
 107  DAYS_LATE_PAYMENT                         float64
 108  NAN                                       float64
 109  AMT_ARREARS                               float64
 110  PC_CNT_INSTALMENT_max                     float64
 111  PC_CNT_INSTALMENT_mean                    float64
 112  PC_SK_DPDMix_Max                          float64
 113  PC_SK_DPDMix_mean                         float64
 114  PC_Delay_total                            float64
 115  PC_Delay_mean                             float64
 116  PC_count                                  float64
 117  PREV_ANNUITY_median                       float64
 118  PREV_APPLICATION_max                      float64
 119  PREV_CREDIT_max                           float64
 120  PREV_CREDIT_sum                           float64
 121  PREV_DOWN_PAYMENT_median                  float64
 122  PREV_GOODS_PRICE_max                      float64
 123  PREV_CRE/APP_max                          float64
 124  RATE_DOWN_PAYMENT_median                  float64
 125  RATE_INTEREST_PRIMARY_median              float64
 126  RATE_INTEREST_PRIMARY_max                 float64
 127  DAYS_DECISION_median                      float64
 128  CNT_PAYMENT_median                        float64
 129  DAYS_PERIOD_median                        float64
 130  CONTRACT_Cash_loans                       float64
 131  CONTRACT_Consumer_loans                   float64
 132  CONTRACT_Revolving_loans                  float64
 133  Cash through the bank                     float64
 134  Non-cash from your account                float64
 135  PORTFOLIO_Cards                           float64
 136  PORTFOLIO_Cash                            float64
 137  PORTFOLIO_POS                             float64
 138  YIELD_high                                float64
 139  YIELD_low                                 float64
 140  YIELD_middle                              float64
 141  HOUR_APPR_PROCESS_START_y                 float64
 142  WEEKDAY_APPR_PROCESS_START                float64
 143  NAME_TYPE_SUITE                           float64
 144  bureau_CREDIT_ACTIVE                      float64
 145  bureau_CREDIT_Closed                      float64
 146  bureau_CREDIT_Sold                        float64
 147  bureau_DAYS_CREDIT                        float64
 148  bureau_CREDIT_DAY_OVERDUE                 float64
 149  bureau_DAYS_CREDIT_ENDDATE                float64
 150  bureau_DAYS_ENDDATE_FACT                  float64
 151  bureau_CNT_CREDIT_PROLONG                 float64
 152  bureau_AMT_CREDIT_SUM                     float64
 153  bureau_AMT_CREDIT_SUM_DEBT                float64
 154  bureau_AMT_CREDIT_SUM_LIMIT               float64
 155  bureau_AMT_CREDIT_SUM_OVERDUE             float64
 156  bureau_CREDIT_TYPE_Car loan               float64
 157  bureau_CREDIT_TYPE_Consumer credit        float64
 158  bureau_CREDIT_TYPE_Credit card            float64
 159  bureau_CREDIT_TYPE_Microloan              float64
 160  bureau_CREDIT_TYPE_Mortgage               float64
 161  bureau_DAYS_CREDIT_UPDATE                 float64
 162  bureau_CLOSE                              float64
 163  bureau_SK_ID_BUREAU_counts                float64
 164  FLAG_DOCUMENT_RATIO                       float64
dtypes: float64(72), int64(93)
memory usage: 451.2 MB

In [20]:
train_merge.to_csv('/Users/hazel/Documents/credit_project_data/application_train_test_clear_nomissing.csv')