In [1]:
filepath = '/content/MyGoogleDrive/My Drive/iSpan finalreport/'
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd

Mounted at /content/MyGoogleDrive

In [2]:
df_original=pd.read_csv(filepath + "application_train_merge_clear_nomissing .csv")
df_original1=pd.read_csv(filepath + 'POS_CASH_balance_newCURR.csv')
df_original2=pd.read_csv(filepath + 'instalment_final.csv')

In [46]:
df=df_original
df1=df_original1
df2=df_original2

##bureau 觀察&規則

In [154]:
df['bureau_CREDIT_ACTIVE'].value_counts()#.sort_values()#ascending=False) # 5筆以上在活動  給分4 10筆以上給分10

2.0     102403
1.0      74103
0.0      46341
3.0      38011
4.0      22041
5.0      12051
6.0       6107
7.0       3156
8.0       1648
9.0        780
10.0       425
11.0       220
12.0       111
13.0        51
14.0        27
15.0        14
17.0         7
16.0         5
19.0         4
22.0         2
18.0         2
20.0         1
32.0         1
Name: bureau_CREDIT_ACTIVE, dtype: int64

In [155]:
df['bureau_CREDIT_ACTIVE'][df['bureau_CREDIT_ACTIVE']>4]

30         5.0
37         6.0
42         5.0
55         7.0
70         5.0
          ...
307430     5.0
307478    10.0
307481     6.0
307495     5.0
307510     5.0
Name: bureau_CREDIT_ACTIVE, Length: 24612, dtype: float64

In [159]:
df['bureau_CREDIT_DAY_OVERDUE'].value_counts() # 0以上 10

0.000000      304114
5.000000          51
6.000000          48
2.000000          46
10.000000         44
               ...
146.500000         1
15.166667          1
871.333333         1
71.222222          1
2.214286           1
Name: bureau_CREDIT_DAY_OVERDUE, Length: 1541, dtype: int64

In [7]:
df['bureau_CNT_CREDIT_PROLONG'].value_counts() # 0以  10分

0.000000    299003
0.250000       751
0.166667       675
0.200000       670
0.333333       645
             ...
0.235294         1
0.103448         1
0.545455         1
0.027027         1
0.120000         1
Name: bureau_CNT_CREDIT_PROLONG, Length: 111, dtype: int64

##pos cash 觀察&規則

In [160]:
df['PC_count'].value_counts() #5筆以上 4分 10筆以上  10

2.0     91608
1.0     89731
3.0     49696
4.0     31146
5.0     18923
6.0     11233
7.0      6457
8.0      3667
9.0      2150
10.0     1181
11.0      699
12.0      428
13.0      245
14.0      133
15.0       83
16.0       42
17.0       38
18.0       21
19.0       15
20.0        8
23.0        2
21.0        2
24.0        1
26.0        1
22.0        1
Name: PC_count, dtype: int64

In [161]:
df['PC_SK_DPDMix_Max'].value_counts() #10

0.0       252828
1.0         5027
2.0         4180
3.0         3717
4.0         3269
           ...
1058.0         1
3085.0         1
3044.0         1
3471.0         1
2068.0         1
Name: PC_SK_DPDMix_Max, Length: 1919, dtype: int64

In [162]:
len(df['PC_SK_DPDMix_Max'][df['PC_SK_DPDMix_Max']>5])#.value_counts()  #0以上給分 5以上給權重高

35488

##install 觀察&規則

In [167]:
df['SK_NUM_PREV'].value_counts() #6次以上給分 未確認

2.0     87032
1.0     81817
3.0     51981
4.0     33988
5.0     21594
6.0     13053
7.0      7646
8.0      4420
9.0      2551
10.0     1411
11.0      861
12.0      474
13.0      279
14.0      163
15.0       92
16.0       50
17.0       39
18.0       26
19.0       17
20.0        8
21.0        4
24.0        2
22.0        1
26.0        1
23.0        1
Name: SK_NUM_PREV, dtype: int64

In [173]:
len(df['SK_NUM_PREV'][df['SK_NUM_PREV']>4])

52693

In [174]:
len(df['SK_NUM_PREV'][df['SK_NUM_PREV']>10])

2018

In [31]:
df['DAYS_LATE_PAYMENT'].value_counts() #

11.60    16142
10.00      901
11.00      877
12.00      874
0.00       810
         ...
38.82        1
61.46        1
87.43        1
79.67        1
37.13        1
Name: DAYS_LATE_PAYMENT, Length: 6006, dtype: int64

In [177]:
len(df['DAYS_LATE_PAYMENT'][df['DAYS_LATE_PAYMENT']>=15]) # 15以上權重小 客戶平均每單每期遲交天數 30以上給多點

90653

In [30]:
df['AMT_ARREARS'].value_counts() #客戶每單平均少繳次數

0.00     182159
2.00      17749
1.00      14754
0.67       9941
4.00       7116
          ...
8.91          1
16.40         1
32.50         1
25.67         1
5.08          1
Name: AMT_ARREARS, Length: 650, dtype: int64

In [178]:
df['AMT_ARREARS'][df['AMT_ARREARS']>5]  #  1以上 4分  5(含)以上10分

8          7.67
12         6.00
28        14.00
34         5.33
49        14.00
          ...
307400    20.50
307406     5.08
307436     5.33
307445     8.50
307481    15.00
Name: AMT_ARREARS, Length: 19798, dtype: float64

In [179]:
dfx=df2[["SK_ID_CURR","NAN"]]

In [186]:
len(dfx["NAN"][dfx["NAN"]>0]) #0以上10分

1215

##開始合併表格製作分數

In [180]:
df_mix=pd.merge(df,dfx,left_on="SK_ID_CURR",right_on="SK_ID_CURR",how="outer")

In [181]:
df_mix['NAN'].fillna(value=0,inplace=True)

In [81]:
df_mix=df_mix.dropna(axis=0)

In [86]:
df_mix[(df_mix['bureau_CREDIT_DAY_OVERDUE']>0) | (df_mix['PC_SK_DPDMix_Max']>0) | (df_mix['NAN']>0)]

,Unnamed: 0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,bureau_CREDIT_TYPE_Car loan,bureau_CREDIT_TYPE_Consumer credit,bureau_CREDIT_TYPE_Credit card,bureau_CREDIT_TYPE_Microloan,bureau_CREDIT_TYPE_Mortgage,bureau_DAYS_CREDIT_UPDATE,bureau_CLOSE,bureau_SK_ID_BUREAU_counts,FLAG_DOCUMENT_RATIO,NAN
5,5.0,100008,0.0,0.0,99000.000,1.0,-16941.0,-1588.0,-4970.0,-477.0,...,0.0,3.0,0.0,0.0,0.0,-611.000000,0.0,3.0,0.05,0.0
8,8.0,100011,0.0,0.0,112500.000,1.0,-20099.0,-1224.0,-7427.0,-3514.0,...,0.0,3.0,1.0,0.0,0.0,-1454.750000,0.0,4.0,0.05,0.0
11,11.0,100015,0.0,0.0,38419.155,1.0,-20417.0,-1224.0,-5246.0,-2512.0,...,0.0,4.0,0.0,0.0,0.0,-551.250000,0.0,4.0,0.05,0.0
28,28.0,100033,0.0,0.0,270000.000,3.0,-9994.0,-1796.0,-4668.0,-2661.0,...,0.0,0.0,1.0,0.0,0.0,-169.000000,0.0,1.0,0.05,0.0
35,35.0,100041,0.0,0.0,112500.000,3.0,-12158.0,-1275.0,-6265.0,-2009.0,...,0.0,12.0,1.0,0.0,0.0,-992.846154,0.0,13.0,0.05,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307490,307490.0,456234,0.0,0.0,81000.000,3.0,-9874.0,-1928.0,-9445.0,-2557.0,...,0.0,9.0,1.0,0.0,0.0,-507.300000,8.0,10.0,0.05,0.0
307500,307500.0,456244,0.0,0.0,261000.000,3.0,-20390.0,-5326.0,-157.0,-3906.0,...,0.0,12.0,11.0,0.0,0.0,-1209.826087,21.0,23.0,0.05,0.0
307504,307504.0,456248,0.0,0.0,153000.000,1.0,-16705.0,-7258.0,-9798.0,-259.0,...,0.0,3.0,1.0,0.0,0.0,-481.714286,0.0,4.0,0.05,0.0
307508,307508.0,456253,0.0,0.0,153000.000,3.0,-14966.0,-7921.0,-6737.0,-5150.0,...,0.0,3.0,1.0,0.0,0.0,-253.250000,3.0,4.0,0.05,0.0
307510,307510.0,456255,0.0,0.0,157500.000,3.0,-16856.0,-1262.0,-5128.0,-410.0,...,0.0,9.0,2.0,0.0,0.0,-531.090909,11.0,11.0,0.05,0.0

###觀察一下元表格跟新label的差異

In [85]:
df_mix[(df['TARGET']==1)&((df_mix['bureau_CREDIT_DAY_OVERDUE']>0) | (df_mix['PC_SK_DPDMix_Max']>0) | (df_mix['NAN']>0))]

,Unnamed: 0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,bureau_CREDIT_TYPE_Car loan,bureau_CREDIT_TYPE_Consumer credit,bureau_CREDIT_TYPE_Credit card,bureau_CREDIT_TYPE_Microloan,bureau_CREDIT_TYPE_Mortgage,bureau_DAYS_CREDIT_UPDATE,bureau_CLOSE,bureau_SK_ID_BUREAU_counts,FLAG_DOCUMENT_RATIO,NAN
235,235.0,100273,1.0,0.0,157500.0,1.0,-23127.0,-9274.0,-817.0,-4173.0,...,0.0,3.0,1.0,0.0,0.0,-481.714286,0.0,4.0,0.00,0.0
260,260.0,100300,1.0,0.0,63000.0,1.0,-12209.0,-1572.0,-6348.0,-4551.0,...,0.0,1.0,0.0,0.0,0.0,-9.000000,0.0,1.0,0.05,0.0
261,261.0,100301,1.0,1.0,112500.0,1.0,-8292.0,-166.0,-3062.0,-16.0,...,0.0,7.0,2.0,0.0,0.0,-47.444444,4.0,9.0,0.05,0.0
348,348.0,100401,1.0,0.0,202500.0,1.0,-20200.0,-1224.0,-973.0,-2779.0,...,0.0,3.0,1.0,0.0,0.0,-481.714286,0.0,4.0,0.05,0.0
368,368.0,100424,1.0,0.0,112500.0,1.0,-18302.0,-136.0,-4005.0,-1281.0,...,0.0,1.0,0.0,0.0,0.0,-4.000000,0.0,1.0,0.05,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307285,307285.0,456002,1.0,0.0,76500.0,1.0,-16597.0,-249.0,-7282.0,-150.0,...,0.0,1.0,5.0,2.0,0.0,-152.250000,2.0,8.0,0.05,0.0
307383,307383.0,456108,1.0,1.0,135000.0,1.0,-12460.0,-1887.0,-4771.0,-1915.0,...,0.0,3.0,1.0,0.0,0.0,-129.750000,0.0,4.0,0.05,0.0
307386,307386.0,456112,1.0,0.0,135000.0,1.0,-20492.0,-1224.0,-11812.0,-1773.0,...,0.0,6.0,1.0,7.0,0.0,-76.571429,2.0,14.0,0.05,0.0
307438,307438.0,456176,1.0,0.0,171000.0,2.0,-11275.0,-3085.0,-11275.0,-3941.0,...,0.0,2.0,0.0,0.0,0.0,-389.000000,0.0,2.0,0.05,0.0
307475,307475.0,456215,1.0,1.0,144000.0,3.0,-13416.0,-2405.0,-500.0,-4704.0,...,0.0,8.0,2.0,0.0,0.0,-562.700000,5.0,10.0,0.05,0.0

In [84]:
df_mix['TARGET'].value_counts()

0.0    282686
1.0     24825
Name: TARGET, dtype: int64

##製作簡易label

In [127]:
filter=df_mix["SK_ID_CURR"][(df_mix['bureau_CREDIT_DAY_OVERDUE']>0) | (df_mix['PC_SK_DPDMix_Max']>0) | (df_mix['NAN']>0)]

In [128]:
filter=filter.to_frame()

In [195]:
filter

        SK_ID_CURR  simple_labelx
5           100008              1
8           100011              1
11          100015              1
28          100033              1
35          100041              1
...            ...            ...
307490      456234              1
307500      456244              1
307504      456248              1
307508      456253              1
307510      456255              1

[57886 rows x 2 columns]

In [129]:
len(filter)

57886

In [196]:
lists=[i*0+1 for i in range(len(filter))]

In [ ]:
lists

In [198]:
filter['simple_labelx']=lists

In [132]:
filter

        SK_ID_CURR  simple_labelx
5           100008              1
8           100011              1
11          100015              1
28          100033              1
35          100041              1
...            ...            ...
307490      456234              1
307500      456244              1
307504      456248              1
307508      456253              1
307510      456255              1

[57886 rows x 2 columns]

In [144]:
df_mix_s=pd.merge(df_mix,filter,how='outer')

In [145]:
df_mix_s['simple_labelx']=df_mix_s['simple_labelx'].fillna(0)

In [146]:
df_mix_s['simple_labelx'].value_counts()

0.0    249625
1.0     57886
Name: simple_labelx, dtype: int64

##製作分數label

In [156]:
list=[i*0+100 for i in range(len(df_mix_s))]

In [157]:
len(list)

307511

In [158]:
df_mix_s['scores']=list

In [193]:
df_mix_s['bureau_CREDIT_ACTIVE'][3]>5 and df_mix_s['bureau_CREDIT_ACTIVE'][5]<10

False

In [194]:
for i in range(len(df_mix_s['scores'])):
  if df_mix_s['bureau_CREDIT_ACTIVE'][i]>=5 and df_mix_s['bureau_CREDIT_ACTIVE'][i]<10:
    df_mix_s['scores'][i]-=4
  if df_mix_s['bureau_CREDIT_ACTIVE'][i]>10:
    df_mix_s['scores'][i]-=10
  if df_mix_s['bureau_CREDIT_DAY_OVERDUE'][i]>0:
    df_mix_s['scores'][i]-=10
  if df_mix_s['bureau_CNT_CREDIT_PROLONG'][i]>0:
    df_mix_s['scores'][i]-=10
  if df_mix_s['PC_count'][i]>=5 and df_mix_s['PC_count'][i]<10:
    df_mix_s['scores'][i]-=4
  if df_mix_s['PC_count'][i]>10:
    df_mix_s['scores'][i]-=10
  if df_mix_s['PC_SK_DPDMix_Max'][i]>0:
    df_mix_s['scores'][i]-=10
  if df_mix_s['SK_NUM_PREV'][i]>=5 and df_mix_s['SK_NUM_PREV'][i]<10:
    df_mix_s['scores'][i]-=4
  if df_mix_s['SK_NUM_PREV'][i]>10:
    df_mix_s['scores'][i]-=10
  if df_mix_s['DAYS_LATE_PAYMENT'][i]>=15 and df_mix_s['DAYS_LATE_PAYMENT'][i]<30:
    df_mix_s['scores'][i]-=4
  if df_mix_s['DAYS_LATE_PAYMENT'][i]>30:
    df_mix_s['scores'][i]-=4
  if df_mix_s['AMT_ARREARS'][i]>=1 and df_mix_s['AMT_ARREARS'][i]<5:
    df_mix_s['scores'][i]-=4
  if df_mix_s['AMT_ARREARS'][i]>5:
    df_mix_s['scores'][i]-=10
  if df_mix_s['NAN'][i]>0:
    df_mix_s['scores'][i]-=10

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [204]:
df_mix_s['scores'][df_mix_s['scores']<91]

4         88
5         90
8         80
11        86
12        90
          ..
307500    82
307503    86
307504    86
307508    90
307510    64
Name: scores, Length: 87544, dtype: int64

In [206]:
df_mix_s.to_csv(filepath+"application_train_merge_clear_nomissing_with_ylabel.csv")