In [1]:
import pandas as pd
no_outliner = pd.read_csv('/Users/hazel/Documents/credit_project_data/Jen-Chao Huang/getridoff_outliner.csv',index_col=0)
no_outliner

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_EMP_PHONE,FLAG_WORK_PHONE,...,FONDKAPREMONT_MODE_reg oper spec account,HOUSETYPE_MODE_block of flats,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,late_count_inLoan / Loan_count
0,100001,0,135000.0,3,-19241,-2329,-5170.0,-812,1,0,...,0,1,0,0,0,0,0,1,0,1.0
1,100002,0,202500.0,1,-9461,-637,-3648.0,-2120,1,0,...,0,1,0,0,0,0,0,1,0,0.0
2,100003,0,270000.0,3,-16765,-1188,-1186.0,-291,1,0,...,0,1,1,0,0,0,0,0,0,0.0
3,100004,0,67500.0,1,-19046,-225,-4260.0,-2531,1,1,...,0,0,0,0,0,0,0,0,0,0.0
4,100005,0,99000.0,1,-18064,-4469,-9118.0,-1623,1,0,...,0,0,0,0,0,0,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340360,448526,0,271651.5,3,-8772,-422,-3454.0,-1428,1,1,...,0,0,0,0,0,0,0,0,0,0.0
340361,449328,0,103500.0,1,-16265,-674,-29.0,-4400,1,1,...,0,0,0,0,0,0,0,0,0,0.0
340362,451328,0,108000.0,3,-9335,-662,-3801.0,-1981,1,0,...,0,0,0,0,0,0,0,0,0,0.0
340363,451362,2,337500.0,3,-14116,-1936,-8242.0,-539,1,0,...,1,1,0,0,0,0,0,1,0,0.0
340364,453660,0,120784.5,3,-9182,-140,-2951.0,-1847,1,1,...,0,0,0,0,0,0,0,0,0,0.0

In [2]:
# ref_feature_selection
group2_feature = no_outliner[['AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION',
       'DAYS_ID_PUBLISH', 'CNT_FAM_MEMBERS', 'HOUR_APPR_PROCESS_START',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_YEAR']]
group2_feature

,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,CNT_FAM_MEMBERS,HOUR_APPR_PROCESS_START,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_YEAR
0,135000.0,-19241,-2329,-5170.0,-812,2.0,18,0.0,-1740.0,0.0
1,202500.0,-9461,-637,-3648.0,-2120,1.0,10,2.0,-1134.0,1.0
2,270000.0,-16765,-1188,-1186.0,-291,2.0,11,1.0,-828.0,0.0
3,67500.0,-19046,-225,-4260.0,-2531,1.0,9,0.0,-815.0,0.0
4,99000.0,-18064,-4469,-9118.0,-1623,2.0,9,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...
340360,271651.5,-8772,-422,-3454.0,-1428,2.0,14,6.0,0.0,1.0
340361,103500.0,-16265,-674,-29.0,-4400,2.0,17,0.0,-261.0,1.0
340362,108000.0,-9335,-662,-3801.0,-1981,2.0,14,1.0,-408.0,1.0
340363,337500.0,-14116,-1936,-8242.0,-539,4.0,11,1.0,-18.0,1.0
340364,120784.5,-9182,-140,-2951.0,-1847,1.0,13,1.0,-89.0,0.0

In [4]:
from sklearn import datasets
from sklearn.naive_bayes import GaussianNB, MultinomialNB
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import neighbors, datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, confusion_matrix

X = group2_feature
y = no_outliner[['late_count_inLoan / Loan_count']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

scaler = preprocessing.StandardScaler().fit(X_train)
#如果要使用MultinomialNB()就要用MinMaxScaler()，不然StandardScaler()的標準化方式可能會有負值
#scaler = preprocessing.MinMaxScaler().fit(X_train) 
X_train = scaler.transform(X_train)

model = GaussianNB()
#model = MultinomialNB()
model.fit(X_train, y_train)

X_test = scaler.transform(X_test)
y_pred = model.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
num_correct_samples = accuracy_score(y_test, y_pred, normalize=False)
con_matrix = confusion_matrix(y_test, y_pred)

print('number of correct sample: {}'.format(num_correct_samples))
print('accuracy: {}'.format(accuracy))
print('con_matrix: {}'.format(con_matrix))

number of correct sample: 38658
accuracy: 0.6090559616838921
con_matrix: [[14578 12208]
 [12606 24080]]

/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [5]:
print(model.score(X_train,y_train))
print(model.score(X_test,y_test))

0.6090765146561843
0.6090559616838921