In [9]:
import pandas as pd
no_outliner = pd.read_csv('/Users/hazel/Documents/credit_project_data/Jen-Chao Huang/getridoff_outliner.csv',index_col=0)
no_outliner

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_EMP_PHONE,FLAG_WORK_PHONE,...,FONDKAPREMONT_MODE_reg oper spec account,HOUSETYPE_MODE_block of flats,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,late_count_inLoan / Loan_count
0,100001,0,135000.0,3,-19241,-2329,-5170.0,-812,1,0,...,0,1,0,0,0,0,0,1,0,1.0
1,100002,0,202500.0,1,-9461,-637,-3648.0,-2120,1,0,...,0,1,0,0,0,0,0,1,0,0.0
2,100003,0,270000.0,3,-16765,-1188,-1186.0,-291,1,0,...,0,1,1,0,0,0,0,0,0,0.0
3,100004,0,67500.0,1,-19046,-225,-4260.0,-2531,1,1,...,0,0,0,0,0,0,0,0,0,0.0
4,100005,0,99000.0,1,-18064,-4469,-9118.0,-1623,1,0,...,0,0,0,0,0,0,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340360,448526,0,271651.5,3,-8772,-422,-3454.0,-1428,1,1,...,0,0,0,0,0,0,0,0,0,0.0
340361,449328,0,103500.0,1,-16265,-674,-29.0,-4400,1,1,...,0,0,0,0,0,0,0,0,0,0.0
340362,451328,0,108000.0,3,-9335,-662,-3801.0,-1981,1,0,...,0,0,0,0,0,0,0,0,0,0.0
340363,451362,2,337500.0,3,-14116,-1936,-8242.0,-539,1,0,...,1,1,0,0,0,0,0,1,0,0.0
340364,453660,0,120784.5,3,-9182,-140,-2951.0,-1847,1,1,...,0,0,0,0,0,0,0,0,0,0.0

In [10]:
# ref_feature_selection
group2_feature = no_outliner[['AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION',
       'DAYS_ID_PUBLISH', 'CNT_FAM_MEMBERS', 'HOUR_APPR_PROCESS_START',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_YEAR']]
group2_feature

,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,CNT_FAM_MEMBERS,HOUR_APPR_PROCESS_START,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_YEAR
0,135000.0,-19241,-2329,-5170.0,-812,2.0,18,0.0,-1740.0,0.0
1,202500.0,-9461,-637,-3648.0,-2120,1.0,10,2.0,-1134.0,1.0
2,270000.0,-16765,-1188,-1186.0,-291,2.0,11,1.0,-828.0,0.0
3,67500.0,-19046,-225,-4260.0,-2531,1.0,9,0.0,-815.0,0.0
4,99000.0,-18064,-4469,-9118.0,-1623,2.0,9,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...
340360,271651.5,-8772,-422,-3454.0,-1428,2.0,14,6.0,0.0,1.0
340361,103500.0,-16265,-674,-29.0,-4400,2.0,17,0.0,-261.0,1.0
340362,108000.0,-9335,-662,-3801.0,-1981,2.0,14,1.0,-408.0,1.0
340363,337500.0,-14116,-1936,-8242.0,-539,4.0,11,1.0,-18.0,1.0
340364,120784.5,-9182,-140,-2951.0,-1847,1.0,13,1.0,-89.0,0.0

In [12]:
from sklearn import datasets
from sklearn.naive_bayes import GaussianNB, MultinomialNB
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import neighbors, datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.metrics import f1_score

X = group2_feature
y = no_outliner[['late_count_inLoan / Loan_count']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

scaler = preprocessing.StandardScaler().fit(X_train)
#如果要使用MultinomialNB()就要用MinMaxScaler()，不然StandardScaler()的標準化方式可能會有負值
#scaler = preprocessing.MinMaxScaler().fit(X_train) 
X_train = scaler.transform(X_train)

model = GaussianNB()
#model = MultinomialNB()
model.fit(X_train, y_train)

X_test = scaler.transform(X_test)
y_pred = model.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
num_correct_samples = accuracy_score(y_test, y_pred, normalize=False)
con_matrix = confusion_matrix(y_test, y_pred)
f1_score = f1_score(y_test, y_pred, average=None)
cross_val_score = cross_val_score(model,X,y,cv=10,scoring='accuracy')

print('number of correct sample: {}'.format(num_correct_samples))
print('accuracy: {}'.format(accuracy))
print('con_matrix: {}'.format(con_matrix))
print('f1_score: {}'.format(f1_score))
print('cross_val_score: {}',cross_val_score)
print('cross_val_score_mean: {}',cross_val_score.mean())

/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

number of correct sample: 38761
accuracy: 0.6106787244769347
con_matrix: [[14514 12232]
 [12479 24247]]
f1_score: [0.54016636 0.66244109]
cross_val_score: {} [0.60259642 0.60057978 0.60647215 0.60508571 0.60395135 0.60455004
 0.6025334  0.60754348 0.60812983 0.60078777]
cross_val_score_mean: {} 0.6042229925560842

/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
print('訓練集{}'.format(model.score(X_train,y_train)))
print('測試集{}'.format(model.score(X_test,y_test)))

訓練集0.6092340656830231
測試集0.6106787244769347

In [14]:
import joblib
joblib.dump(model,'main_naivebayes_ml')

['main_naivebayes_ml']

In [1]:
import pandas as pd
main = pd.read_csv('/Users/hazel/Documents/credit_project_data/Jen-Chao Huang/main_x_label_0727.csv')
main

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_WORK_PHONE,FLAG_PHONE,...,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,paper%,Loan_count,late_count_inLoan,INSTALMENT_count,late_count_total
0,100002,0,202500.0,1,-9461,-637,-3648.0,-2120,0,1,...,0,0,0,1,0,0.05,2.0,0.0,38.0,0.0
1,100003,0,270000.0,3,-16765,-1188,-1186.0,-291,0,1,...,0,0,0,0,0,0.05,6.0,0.0,53.0,0.0
2,100004,0,67500.0,1,-19046,-225,-4260.0,-2531,1,1,...,0,0,0,0,0,0.00,2.0,0.0,7.0,0.0
3,100006,0,135000.0,1,-19005,-3039,-9833.0,-2437,0,0,...,0,0,0,0,0,0.05,7.0,0.0,43.0,1.0
4,100007,0,121500.0,1,-19932,-3038,-4311.0,-3458,0,0,...,0,0,0,0,0,0.05,10.0,3.0,132.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340360,456221,0,121500.0,1,-19970,-5169,-9094.0,-3399,1,1,...,0,0,0,0,0,0.05,2.0,0.0,7.0,0.0
340361,456222,2,157500.0,1,-11186,-1149,-3015.0,-3003,0,0,...,0,0,0,0,0,0.05,8.0,3.0,147.0,10.0
340362,456223,1,202500.0,1,-15922,-3037,-2681.0,-1504,0,1,...,0,0,0,1,0,0.05,7.0,0.0,39.0,1.0
340363,456224,0,225000.0,3,-13968,-2731,-1461.0,-1364,1,1,...,0,0,1,0,0,0.05,4.0,1.0,60.0,2.0
340364,456250,0,135000.0,1,-13962,-633,-1072.0,-4220,1,0,...,0,0,0,0,0,0.05,8.0,2.0,92.0,5.0

In [2]:
main['late_count_inLoan / Loan_count'] = main['late_count_inLoan']/main['Loan_count']
main

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_WORK_PHONE,FLAG_PHONE,...,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,paper%,Loan_count,late_count_inLoan,INSTALMENT_count,late_count_total,late_count_inLoan / Loan_count
0,100002,0,202500.0,1,-9461,-637,-3648.0,-2120,0,1,...,0,0,1,0,0.05,2.0,0.0,38.0,0.0,0.000
1,100003,0,270000.0,3,-16765,-1188,-1186.0,-291,0,1,...,0,0,0,0,0.05,6.0,0.0,53.0,0.0,0.000
2,100004,0,67500.0,1,-19046,-225,-4260.0,-2531,1,1,...,0,0,0,0,0.00,2.0,0.0,7.0,0.0,0.000
3,100006,0,135000.0,1,-19005,-3039,-9833.0,-2437,0,0,...,0,0,0,0,0.05,7.0,0.0,43.0,1.0,0.000
4,100007,0,121500.0,1,-19932,-3038,-4311.0,-3458,0,0,...,0,0,0,0,0.05,10.0,3.0,132.0,19.0,0.300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340360,456221,0,121500.0,1,-19970,-5169,-9094.0,-3399,1,1,...,0,0,0,0,0.05,2.0,0.0,7.0,0.0,0.000
340361,456222,2,157500.0,1,-11186,-1149,-3015.0,-3003,0,0,...,0,0,0,0,0.05,8.0,3.0,147.0,10.0,0.375
340362,456223,1,202500.0,1,-15922,-3037,-2681.0,-1504,0,1,...,0,0,1,0,0.05,7.0,0.0,39.0,1.0,0.000
340363,456224,0,225000.0,3,-13968,-2731,-1461.0,-1364,1,1,...,0,1,0,0,0.05,4.0,1.0,60.0,2.0,0.250
340364,456250,0,135000.0,1,-13962,-633,-1072.0,-4220,1,0,...,0,0,0,0,0.05,8.0,2.0,92.0,5.0,0.250

In [3]:
main['late_count_inLoan / Loan_count'] = pd.DataFrame(main['late_count_inLoan / Loan_count'].apply(lambda x:1 if x>0 else x))
main

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_WORK_PHONE,FLAG_PHONE,...,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,paper%,Loan_count,late_count_inLoan,INSTALMENT_count,late_count_total,late_count_inLoan / Loan_count
0,100002,0,202500.0,1,-9461,-637,-3648.0,-2120,0,1,...,0,0,1,0,0.05,2.0,0.0,38.0,0.0,0.0
1,100003,0,270000.0,3,-16765,-1188,-1186.0,-291,0,1,...,0,0,0,0,0.05,6.0,0.0,53.0,0.0,0.0
2,100004,0,67500.0,1,-19046,-225,-4260.0,-2531,1,1,...,0,0,0,0,0.00,2.0,0.0,7.0,0.0,0.0
3,100006,0,135000.0,1,-19005,-3039,-9833.0,-2437,0,0,...,0,0,0,0,0.05,7.0,0.0,43.0,1.0,0.0
4,100007,0,121500.0,1,-19932,-3038,-4311.0,-3458,0,0,...,0,0,0,0,0.05,10.0,3.0,132.0,19.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340360,456221,0,121500.0,1,-19970,-5169,-9094.0,-3399,1,1,...,0,0,0,0,0.05,2.0,0.0,7.0,0.0,0.0
340361,456222,2,157500.0,1,-11186,-1149,-3015.0,-3003,0,0,...,0,0,0,0,0.05,8.0,3.0,147.0,10.0,1.0
340362,456223,1,202500.0,1,-15922,-3037,-2681.0,-1504,0,1,...,0,0,1,0,0.05,7.0,0.0,39.0,1.0,0.0
340363,456224,0,225000.0,3,-13968,-2731,-1461.0,-1364,1,1,...,0,1,0,0,0.05,4.0,1.0,60.0,2.0,1.0
340364,456250,0,135000.0,1,-13962,-633,-1072.0,-4220,1,0,...,0,0,0,0,0.05,8.0,2.0,92.0,5.0,1.0

In [4]:
main.drop(['Loan_count','late_count_inLoan','INSTALMENT_count','late_count_total'],axis=1,inplace=True)
main

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_WORK_PHONE,FLAG_PHONE,...,HOUSETYPE_MODE_block of flats,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,paper%,late_count_inLoan / Loan_count
0,100002,0,202500.0,1,-9461,-637,-3648.0,-2120,0,1,...,1,0,0,0,0,0,1,0,0.05,0.0
1,100003,0,270000.0,3,-16765,-1188,-1186.0,-291,0,1,...,1,1,0,0,0,0,0,0,0.05,0.0
2,100004,0,67500.0,1,-19046,-225,-4260.0,-2531,1,1,...,0,0,0,0,0,0,0,0,0.00,0.0
3,100006,0,135000.0,1,-19005,-3039,-9833.0,-2437,0,0,...,0,0,0,0,0,0,0,0,0.05,0.0
4,100007,0,121500.0,1,-19932,-3038,-4311.0,-3458,0,0,...,0,0,0,0,0,0,0,0,0.05,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340360,456221,0,121500.0,1,-19970,-5169,-9094.0,-3399,1,1,...,0,0,0,0,0,0,0,0,0.05,0.0
340361,456222,2,157500.0,1,-11186,-1149,-3015.0,-3003,0,0,...,0,0,0,0,0,0,0,0,0.05,1.0
340362,456223,1,202500.0,1,-15922,-3037,-2681.0,-1504,0,1,...,1,0,0,0,0,0,1,0,0.05,0.0
340363,456224,0,225000.0,3,-13968,-2731,-1461.0,-1364,1,1,...,1,0,0,0,0,1,0,0,0.05,1.0
340364,456250,0,135000.0,1,-13962,-633,-1072.0,-4220,1,0,...,0,0,0,0,0,0,0,0,0.05,1.0

In [5]:
feature = main[['AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'HOUR_APPR_PROCESS_START_x',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_YEAR']]

In [8]:
from sklearn import datasets
from sklearn.naive_bayes import GaussianNB, MultinomialNB
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import neighbors, datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.metrics import f1_score

X = feature
y = main[['late_count_inLoan / Loan_count']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

scaler = preprocessing.StandardScaler().fit(X_train)
#如果要使用MultinomialNB()就要用MinMaxScaler()，不然StandardScaler()的標準化方式可能會有負值
#scaler = preprocessing.MinMaxScaler().fit(X_train) 
X_train = scaler.transform(X_train)

model = GaussianNB()
#model = MultinomialNB()
model.fit(X_train, y_train)

X_test = scaler.transform(X_test)
y_pred = model.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
num_correct_samples = accuracy_score(y_test, y_pred, normalize=False)
con_matrix = confusion_matrix(y_test, y_pred)
f1_score = f1_score(y_test, y_pred, average=None)
cross_val_score = cross_val_score(model,X,y,cv=10,scoring='accuracy')

print('number of correct sample: {}'.format(num_correct_samples))
print('accuracy: {}'.format(accuracy))
print('con_matrix: {}'.format(con_matrix))
print('f1_score: {}'.format(f1_score))
print('cross_val_score: {}',cross_val_score)
print('cross_val_score_mean: {}',cross_val_score.mean())

/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

number of correct sample: 34892
accuracy: 0.5125673908891925
con_matrix: [[23516  4833]
 [28348 11376]]
f1_score: [0.58633887 0.40677239]
cross_val_score: {} [0.59761436 0.47316156 0.47213327 0.47480683 0.47471869 0.46624163
 0.46862146 0.47223528 0.47176519 0.48387002]
cross_val_score_mean: {} 0.48551682796244144

/Users/hazel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)